%tr
  %td
    %p
      %strong= link_to_if register.register_phase == 'Alpha', register.register_name, register_path(register.slug)
      %br
      - if register.register_phase == 'Backlog'
        = register.description
      - else
        = register.register_description
  %td
    - if register.authority.present?
      %div{class: "govuk-organisation-logo #{register.authority&.name.parameterize}"}
        %div{class: "logo-container #{crest_class_name(register.authority&.name.parameterize)}"}
          %span= register&.authority&.name
  %td
    - if register.register_phase == 'Alpha'
      %p Open for feedback
    - else
      = link_to 'Express interest', request_registers_path(register_title: register.name)
