%tr
  %th
    %p
      %strong= link_to_if register.register_phase == 'Alpha', register.register_name, register_path(register.slug)
      %br
      - if register.register_phase == 'Backlog'
        = register.description
      - else
        = register.register_description
  %td{"data-title" => "Managed by: "}
    - if register.register_authority.present?
      %div{class: "govuk-organisation-logo #{register.register_authority.data['name'].parameterize}"}
        %div{class: "logo-container #{crest_class_name(register.register_authority.data['name'].parameterize)}"}
          %span= register.register_authority.data['name']
  %td{"data-title" => "Phase: "}
    - if register.register_phase == 'Alpha'
      = link_to 'Open for feedback', support_question_path
    - else
      = link_to 'Express interest', request_registers_path(register_title: register.name)
