- @page_title = 'Upcoming registers'
- content_for :body_classes, 'register-index'

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Register collection', registers_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Upcoming registers', '#content', 'aria-current' => 'page'

.govuk-width-container
  %main#content{class: 'govuk-main-wrapper govuk-!-margin-bottom-5', role:'main'}
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        %h1.govuk-heading-l Upcoming registers
        %p.govuk-body-l These registers are being worked on and are not ready to use. This means the data is still changing and is open for feedback.
        %p.govuk-body You can also see all the #{link_to 'registers that are ready to use', registers_path}.

    .govuk-grid-row
      .govuk-grid-column-full
        %table.register-status-table.table-collapsible
          %col{width: '60%'}
          %col{width: '20%'}
          %col{width: '20%'}
          %thead
            %tr
              %th{role: "columnheader", scope: "col"}
                Register
              %th{role: "columnheader", scope: "col"}
                Managed by
              %th{role: "columnheader", scope: "col"}
                Status
          %tbody
            - @registers.each do |register|
              = render partial: 'registers/register', object: register
