- @page_title = 'Upcoming registers'
- content_for :body_classes, 'register-index'

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Get data', registers_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Upcoming registers', '#content', 'aria-current' => 'page'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large Upcoming registers
      %p These registers are being worked on and are not ready to use. This means the data is still changing and open to user feedback.
      %p You can also see all the #{link_to 'registers you can use', registers_path}.

    .column-one-third
      = form_tag registers_in_progress_path(anchor: 'content'), class: 'records-search', method: 'get' do
        = label_tag :q, 'Search', class: 'visually-hidden'
        = search_field_tag :q, nil, class: 'search-input', placeholder: 'Search'
        = submit_tag 'Search', name: nil, class: 'search-submit'

    .column-full
      - if @registers.present?
        %table.register-status-table.table-collapsible
          %col{width: '60%'}
          %col{width: '20%'}
          %col{width: '20%'}
          %thead
            %tr
              %th{role: "columnheader", scope: "col"}
                Register
              %th{role: "columnheader", scope: "col"}
                Managed by
              %th{role: "columnheader", scope: "col"}
                Status
          %tbody
            - @registers.each do |register|
              = render partial: 'registers/register', object: register
      - else
        .no-search-results
          %p
            No results found for <strong>"#{params[:q][:name_cont]}"</strong>
            = link_to 'Reset', registers_path, class: 'reset-link'
