- @page_title = 'Get data'
- content_for :body_classes, 'register-index'

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Get data', '#content', 'aria-current' => 'page'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large
        Registers available
        %span.heading-secondary Registers are up-to-date lists of information that are managed and approved by government. You can use this data to build and maintain your service.
    .column-one-third
      = form_tag registers_path(anchor: 'content'), class: 'records-search', method: 'get' do
        = label_tag :q, 'Search', class: 'visually-hidden'
        = search_field_tag :q, params[:q], class: 'search-input', placeholder: 'Search', autocomplete: 'off'
        = submit_tag 'Search', name: nil, class: 'search-submit'

    .column-full
      - if @registers.present?
        - if params[:q]
          .search-results
            %p
              Results found for <strong>"#{params[:q]}"</strong>
              = link_to 'Reset', registers_path, class: 'reset-link'
        - else
          = form_tag registers_path(anchor: 'content'), class: 'sort-registers', method: 'get' do
            .form-group
              %fieldset.inline
                %legend.form-label.form-label-bold Sort by:
                .multiple-choice
                  = radio_button_tag 'sort', 'popularity', params[:sort] == 'popularity' || !params[:sort].present? ?  'true' : nil
                  = label_tag 'popularity', nil, for: 'sort_popularity'
                .multiple-choice
                  = radio_button_tag 'sort', 'name', params[:sort] == 'name' ?  'true' : nil
                  = label_tag 'name', nil, for: 'sort_name'
              = submit_tag 'Search', class: 'button filter-search-submit'
        .registers-block-grid
          .grid-row
            - @registers.each do |register|
              .column-one-third
                = link_to register_path(register.slug), class: 'register-block' do
                  %h3.register-block__name= register.register_name
                  %p.register-block__description= register.register_description
                  - if register.register_authority.present?
                    %div{class: "govuk-organisation-logo #{register.register_authority.data['name'].parameterize}"}
                      %div{class: "logo-container #{crest_class_name(register.register_authority.data['name'].parameterize)}"}
                        %span= register.register_authority.data['name']

      - else
        .search-results
          %p
            No results found for <strong>"#{params[:q]}"</strong>
            = link_to 'Reset', registers_path, class: 'reset-link'
      %p You can also see #{link_to 'registers that are coming soon', registers_in_progress_path}.

= content_for :javascript do
  :javascript
    $("input[name='sort']").change(function () {
      $('.sort-registers').submit();
    });
