- @page_title = 'Get data'
- content_for :body_classes, 'register-index'

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb", class: "visually-hidden"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Register collection', '#content', 'aria-current' => 'page'

.govuk-width-container
  %main{class: 'govuk-main-wrapper govuk-!-margin-top-2 govuk-!-margin-bottom-9', role:'main'}
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        %h1{class: 'govuk-heading-l govuk-!-margin-bottom-1'} Government registers collection
        - unless @search_term.present?
          %p.govuk-body-l Find registers that are ready to use in your government service.
      .govuk-grid-column-one-third
        = form_tag registers_path(anchor: 'content'), class: 'records-search', method: 'get' do
          = label_tag :q, 'Search', class: 'visually-hidden'
          = search_field_tag :q, @search_term, class: 'search-input', placeholder: 'Search', autocomplete: 'off'
          = submit_tag 'Search', name: nil, class: 'search-submit'

    .govuk-grid-row#show-by
      - if @registers_collection.present?
        .govuk-grid-column-full
          - if @search_term.present?
            .search-results
              %p
                Results for <strong>"#{@search_term}"</strong>
                = link_to 'Reset', registers_path, class: 'reset-link'
          - else
            -# Don't want this to show when there's a search
            .show-by
              %form.govuk-form-group.sort-by-filter{action: '#show-by'}
                %fieldset.govuk-fieldset
                  %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
                    %h2{class: 'govuk-heading-s govuk-!-margin-bottom-0'} Show by:
                  .govuk-radios.govuk-radios--inline
                    .govuk-radios__item
                      %input.govuk-radios__input#show-by-1{ name: "show_by", type: "radio", value: "category", checked: @show_by_selected == 'category' ? true: false }
                      %label.govuk-label.govuk-radios__label{ for: "show-by-1" }
                        Category
                    .govuk-radios__item
                      %input.govuk-radios__input#show-by-2{ name: "show_by", type: "radio", value: "organisation", checked: @show_by_selected == 'organisation' ? true: false }
                      %label.govuk-label.govuk-radios__label{ for: "show-by-2"}
                        Organisation
                    .govuk-radios__item
                      %input.govuk-radios__input#show-by-3{ name: "show_by", type: "radio", value: "name", checked: @show_by_selected == 'name' ? true: false }
                      %label.govuk-label.govuk-radios__label{ for: "show-by-3"}
                        Name
                    %button.button Show
        - if @show_by_selected == 'name' || @search_term.present?
          .govuk-grid-column-two-thirds.js--list-of-registers
            %ul.list-of-registers
              - @registers_collection.each do |register|
                %li.list-of-registers__register.js--list-of-registers
                  %a{href: register_path(register.slug)}
                    %h3.list-of-registers__heading= register.safe_name
                  - if register.register_description.present?
                    %p.list-of-registers__description= register.register_description
                  - if register.authority.present?
                    %p.list-of-registers__authority= register.authority.name

        - if @show_by_selected == 'category'
          .govuk-grid-column-full.js--list-of-registers
            = render partial: 'layouts/categories'

        - if @show_by_selected == 'organisation'
          .govuk-grid-column-full.js--list-of-registers
            %ul.register-themes
              - @registers_collection.each do |authority|
                %li.register-theme
                  %a{ href: authority_path(authority.government_organisation_key), class: "register-theme__link"  }
                    %h3{class: "register-theme__heading govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-1"}= authority.name
                    - if authority.registers_description.present?
                      %p.register-theme__description.govuk-body-s= authority.registers_description
                    - if authority.register_count.present?
                      %p.register-theme__count.govuk-body-s= pluralize(authority.register_count, 'register')
      - else
        .govuk-grid-column-full
          %p
            No results found for <strong>"#{@search_term}"</strong>
            = link_to 'Reset', registers_path, class: 'reset-link'
          -#%script
          -#  ga('send', 'event', 'Search', 'No results', '#{@search_term}', {nonInteraction: true});


= content_for :javascript do
  :javascript
    (function(document, undefined) {

      var showByTriggers = document.querySelectorAll('input[name="show_by"]')
      var showBy = function(target) {
        target.addEventListener('change', function(event){
          event.target.form.submit();
        })
      }

      for (var index = 0; index < showByTriggers.length; index++) {
        showBy(showByTriggers[index])
      }
    })(document)

  -#:javascript
  -#  (function(document, undefined) {
  -#    var links = document.querySelectorAll('.js--list-of-registers a');
  -#
  -#    var sendEvent = function(event) {
  -#      ga('send', {
  -#        hitType: 'event',
  -#        eventCategory: 'Show by',
  -#        eventAction: '#{@show_by_selected.capitalize} - ' + event.target.parentElement.querySelector('h3').innerText.replace(/ register/, ''),
  -#        eventLabel: 'Select #{ @show_by_selected == "name" ? "register" : "group" }',
  -#        nonInteraction: true
  -#      })
  -#    }
  -#
  -#    for (var i = 0; i < links.length; i++) {
  -#      links[i].addEventListener('click', sendEvent )
  -#    }
  -#  })(document)
