- @page_title = "#{@register.name.capitalize} Register"
- @page_description = ""
- content_for :body_classes, 'register-show'

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Registers collection', registers_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to "#{@register.name} Register", '#content', 'aria-current' => 'page'

%main#content.container{role:'main'}

  - if @register.register_phase != 'Beta'
    .grid-row
      .column-two-thirds
        .panel.panel-border-wide
          %span.phase-banner In progress
          %p This data is in progress and it’s not ready for use. #{link_to 'Contact the team', 'https://registers.cloudapps.digital/support', target: :blank} to give us feedback.

  .grid-row
    .column-two-thirds

      %h1.heading-xlarge #{@register.name} register

      .govuk-metadata
        %dl
          %dt Managed by:
          %dd
            = link_to @register.authority, "https://www.gov.uk/government/organisations/#{@register.authority.parameterize}", target: :blank
          %dt Number of records:
          %dd
            = number_with_delimiter(@total_record_count)
          %dt Updated:
          %dd
            = formatted_date(@register.register_last_updated)
            %strong.text-spacing -
            = link_to "See all register updates", register_entries_path(@register.slug)
          - if @register.related_registers.present?
            %dt Related registers:
            %dd
              != @register.related_registers
          - if @register.contextual_data.present?
            %dt Contextual data:
            %dd
              != @register.contextual_data

      %h2.heading-medium About this register
      %p= @register.register_description

      %details{role: "group"}
        %summary{"aria-controls" => "details-content-1", "aria-expanded" => "false", :role => "button"}
          %span.summary What fields are included in this register?
        #details-content-1.panel.panel-border-narrow{"aria-hidden" => "true"}
          %dl
            - @register.register_fields.each do |field|
              %dt= field['field']
              %dd= field['text']

      %h3.heading-medium Using this register
      %p There are 2 ways to use Registers. You can either:
      %ul.list-bullet
        %li use our #{link_to "API", "https://registers-docs.cloudapps.digital/#api-documentation-for-registers"} to automatically pull data from a register into your service
        %li download the data for this Register and keep your own copy up-to-date


    .column-third
      %aside#related
        .related-container
          %h4.heading-small Find out more
          %ul
            %li
              = link_to "API documentation", "https://registers-docs.cloudapps.digital", target: :blank
          %h4.heading-small Help
          %ul
            %li
              = link_to "Create a register", "https://www.gov.uk/guidance/creating-a-register", target: :blank
            %li
              = link_to "Contact the team", "https://registers.cloudapps.digital/support", target: :blank

  .grid-row
    .column-full
      .search-records-wrapper#search_wrapper
        %h3.heading-medium Explore this register
        .grid-row
          = form_tag register_path(@register.slug, anchor: 'search_wrapper'), method: :get, id: 'search_records' do
            .column-one-third
              .records-search
                = label_tag 'Search', nil, class: 'visually-hidden', for: 'q'
                = search_field_tag 'q', nil, class: 'search-input', placeholder: 'Search', value: params[:q]
                = submit_tag 'Search', name: nil, class: 'search-submit'
            .column-full
              %details{role: "group", open: (params[:status].present? && @records.present? ? 'open' : nil)}
                %summary{"aria-controls" => "details-content-0", "aria-expanded" => "#{params[:status].present? && @records.present? ? 'true' : 'false'}", role: "button"}
                  %span.summary Filter
                #details-content-0{"aria-hidden" => "#{params[:status].present? && @records.present? ? 'false' : 'true'}"}
                  .grid-row
                    .column-full
                      .form-group
                        %fieldset.inline
                          %legend.visually-hidden Filter
                          .multiple-choice
                            = radio_button_tag 'status', 'current', params[:status] == 'current' || !params[:status].present? ?  'true' : nil
                            = label_tag 'Current records', nil, for: 'status_current'
                          .multiple-choice
                            = radio_button_tag 'status', 'archived', params[:status] == 'archived' ?  'true' : nil
                            = label_tag 'Archived records', nil, for: 'status_archived'
                          .multiple-choice
                            = radio_button_tag 'status', 'all', params[:status] == 'all' ?  'true' : nil
                            = label_tag 'Both', nil, for: 'status_all'
                        = submit_tag 'Search', name: nil, class: 'button filter-search-submit'

      - if @records.present?
        %p
          %span#records-count
            = render partial: 'showing'
          - if params[:q].present? || params[:status].present?
            = link_to 'Reset', register_path(@register.slug, anchor: 'search_wrapper'), class: 'reset-link'

        .table-scroll
          %table.register-data-table
            %thead
              %tr
                - @register.register_fields.each do |field|
                  %th= field['cardinality'] == '1' ? records_table_sort_link(field['field'], request.query_parameters) : field['field']
            %tbody#records-tbody
              = render partial: 'record', collection: @records

        .pager
          .pager-controls
            = paginate @records, total_pages: @total_pages, outer_window: 0, window: 3
          .pager-summary
            = render partial: 'showing'

        - unless @records.last_page?
          = link_to_next_page @records, 'Load more', id: 'load-more-records', class: 'js-hidden', remote: true

      - else
        .no-search-results
          %p
            No results found for <strong>"#{params[:q]}"</strong>
            - if params[:q].present? || params[:status].present?
              = link_to 'Reset', register_path(@register.slug, anchor: 'search_wrapper'), class: 'reset-link'

= content_for :javascript do
  :javascript
    $("input[name='status']").change(function () {
      $('#search_records').submit();
    });
