- @page_title = "#{[@register.seo_title, @register.register_name + ' register'].find(&:present?)}"
- @page_description = "#{[@register.meta_description, @register.register_description].find(&:present?)}"
- content_for :body_classes, 'register-show'

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Get data', registers_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to "#{@register.register_name} register", '#content', 'aria-current' => 'page'

%main#content.container{role:'main'}

  - if @register.register_phase != 'Beta'
    .grid-row
      .column-two-thirds
        .panel.panel-border-wide
          %span.phase-banner In progress
          %p This data is in progress and it’s not ready for use. #{link_to 'Contact the team', support_question_path} to give us feedback.

  .register-meta-data
    .grid-row
      .column-two-thirds
        %h1.heading-large
          #{@register.register_name} register
          %span.heading-secondary= @register.register_description
        %p.font-xsmall Last updated: #{link_to formatted_date(@register.register_last_updated), register_entries_path(@register.slug)}

      .column-one-third
        - if @register.register_authority.present?
          %p.bold-small Managed by:
          %div{class: "govuk-organisation-logo #{@register.register_authority.data['name'].parameterize}"}
            %div{class: "logo-container #{crest_class_name(@register.register_authority.data['name'].parameterize)}"}
              %span= @register.register_authority.data['name']

  .grid-row
    .column-full
      %div{class: "js-hidden", "data-module" => "accordion-with-descriptions"}
        .subsection-wrapper
          .subsection.js-subsection
            .subsection__header
              %h2.subsection__title Preview the data
            .subsection__content.js-subsection-content#data_section
              .search-records-wrapper#records_wrapper
                = form_tag register_path(@register.slug, anchor: 'records_wrapper'), method: :get, id: 'search_records' do
                  .grid-row
                    .column-one-third
                      .records-search
                        = label_tag 'Search', nil, for: 'q', class: 'visually-hidden'
                        = search_field_tag 'q', nil, class: 'search-input', placeholder: 'Search', value: params[:q], autocomplete: 'off'
                        = submit_tag 'Search', name: nil, class: 'search-submit'
                  %details{role: "group", open: (params[:status].present? ? 'open' : nil)}
                    %summary{"aria-controls" => "details-content-0", "aria-expanded" => "#{params[:status].present? ? 'true' : 'false'}", role: "button"}
                      %span.summary Filter
                    %div{id: "details-content-0", "aria-hidden" => "#{params[:status].present? && @records.present? ? 'false' : 'true'}"}

                      .grid-row
                        .column-two-thirds
                          .form-group
                            %fieldset.inline
                              %legend.form-label.form-label-bold Filter data:
                              .multiple-choice
                                = radio_button_tag 'status', 'current', params[:status] == 'current' || !params[:status].present? ?  'true' : nil
                                = label_tag 'Current records', nil, for: 'status_current'
                              .multiple-choice
                                = radio_button_tag 'status', 'archived', params[:status] == 'archived' ?  'true' : nil
                                = label_tag 'Archived records', nil, for: 'status_archived'
                              .multiple-choice
                                = radio_button_tag 'status', 'all', params[:status] == 'all' ?  'true' : nil
                                = label_tag 'Both', nil, for: 'status_all'
                            = submit_tag 'Search', name: nil, class: 'button filter-search-submit'

              - if @records.present?
                .records-count
                  %span#records-count
                    = render partial: 'showing'
                  - if params[:q].present? || params[:status].present?
                    = link_to 'Reset', register_path(@register.slug, anchor: 'records_wrapper'), class: 'reset-link'

                .fullscreen-content{data: {module: 'scrolling-tables'}}
                  %table.table.register-data-table
                    %thead
                      %tr{data: {"click-events" => true, "click-category" => "Register Table", "click-action" => "Sort"}}
                        - @register.register_fields.each do |field|
                          %th{class: "#{field['field']}"}
                            = field['cardinality'] == '1' ? records_table_sort_link(field['field'], request.query_parameters) : field['field'].tr('-', ' ').humanize
                            = link_to '?', register_field_path(@register.slug, field['field']), class: 'info-icon'
                    %tbody#records-tbody
                      = render partial: 'record', collection: @records

                .pager.js-hidden
                  .pager-controls
                    = paginate @records, outer_window: 0, window: 3
                  .pager-summary
                    = render partial: 'showing'

                - unless @records.last_page?
                  %div{data: { "click-events" => true, "click-category" => "Register Table", "click-action" => "Load More" }}
                    = link_to_next_page @records, 'Load more', id: 'load-more-records', class: 'js-load-more', remote: true

              - else
                .no-search-results
                  %p
                    - if params[:q].present?
                      No results found for <strong>"#{params[:q]}"</strong>
                    - else
                      No results found.
                    - if params[:q].present? || params[:status].present?
                      = link_to 'Reset', register_path(@register.slug, anchor: 'search_wrapper'), class: 'reset-link'
          .subsection.js-subsection
            .subsection__header
              %h2.subsection__title Access the data
            .subsection__content.js-subsection-content#access_section
              %ul.list
                %li= link_to 'Create API key', api_users_path(register: @register.slug)
                %li Always access the most recent version of all registers through our API.
              %p You can #{link_to 'download the latest data', register_download_index_path(@register.slug)} in this register as a CSV or JSON file.
          .subsection.js-subsection
            .subsection__header
              %h2.subsection__title Give feedback
            .subsection__content.js-subsection-content#feedback_section
              = render partial: 'feedback/form'

= content_for :javascript do
  :javascript
    $("input[name='status']").change(function () {
      $('#search_records').submit();
    });

= content_for :head do
  = render partial: 'registers/structured_data', locals: { register: @register }
