- @page_title = @register.safe_name
- @page_description = "#{[@register.meta_description, @register.register_description].find(&:present?)}"
- content_for :body_classes, 'register-show'

.govuk-width-container
  %main#content.govuk-main-wrapper{role:'main', class: 'govuk-!-padding-top-0'}
    %div{class: 'govuk-grid-row govuk-!-padding-top-6'}
      - if @register.register_phase != 'Beta'
        .govuk-grid-column-full
          .govuk-inset-text
            %strong.govuk-tag In progress
            %p This data is in progress and it’s not ready for use.
      %div{class: 'govuk-grid-column-two-thirds govuk-!-margin-top-2'}
        %h1{class: "govuk-heading-l govuk-!-margin-bottom-1"}= @register.safe_name
        %p{class: 'govuk-body-l govuk-!-padding-top-2'}= @register.register_description
        - unless @register.is_empty?
          %p{class: 'govuk-body-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-2'}
            First published #{human_readable_date(@register.register_first_updated) }
          %p{class: 'govuk-body-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-2'}
            Last updated #{human_readable_date(@register.register_last_updated) } &mdash; #{link_to 'see all updates' , register_entries_path(@register.slug), {data: { 'click-events' => '', 'click-category' => 'Register metadata', 'click-action' => "Last updated - #{@register.title}", 'click-label' => 'Last updated'}}}
        - if @register.category.present?
          %p{class: 'govuk-body-s govuk-!-margin-bottom-0 govuk-!-padding-bottom-7'}
            Category: #{link_to @register.category&.name, category_path(@register.category&.slug), {class: 'govuk-!-font-weight-bold', data: { 'click-events' => '', 'click-category' => 'Register metadata', 'click-action' => "Category - #{@register&.category&.name}", 'click-label' => 'Category'}}}
      .govuk-grid-column-one-third
        - if @register.authority.present?
          %p{class: 'govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0'} Managed by:
          %div{class: "govuk-organisation-logo #{@register&.authority&.name&.parameterize}"}
            %div{class: "logo-container #{crest_class_name(@register&.authority&.name&.parameterize)}"}
              %span= @register&.authority&.name
      %div{class: 'govuk-grid-column-full highlight-boxes govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-top-5'}
        %a{href: @next_step_download, class: 'highlight-box govuk-!-padding-6 govuk-!-margin-bottom-9 js--ga-watch-click', id: "label-download" }
          %h3{class: 'heading-medium govuk-!-margin-top-0'} Download the data
          %p{class: 'govuk-!-margin-bottom-0'} Get a copy of the latest data in this register in CSV and ODS formats.
        %a{href: @next_step_api, class: 'highlight-box govuk-!-padding-6 govuk-!-margin-bottom-9 js--ga-watch-click', id: "label-API" }
          %h3{class: 'heading-medium govuk-!-margin-top-0'} Use the API
          %p{class: 'govuk-!-margin-bottom-0'} Always get the most up-to-date data in this register in JSON format.

    %section.govuk-grid-row#records_wrapper{ data: { module: 'accordion-with-descriptions'}}
      .govuk-grid-column-full
        %hr{class: 'govuk-!-margin-top-0'}
        %h2.govuk-heading-m About the data
      %div{class: 'govuk-grid-column-two-thirds govuk-!-margin-bottom-3'}
        %p There are <b>#{number_with_delimiter(@register_records_total_count)} records</b> and <b>#{@register.register_fields.count} fields</b> in this register
      .govuk-grid-column-full
        %p
          %span#records-count{'aria-live': 'polite'}
            = page_entries_info(@records)
      %div{class: 'govuk-grid-column-full govuk-!-padding-bottom-9'}
        - if @register.is_empty? || @records.any?
          .fullscreen-content{data: {module: 'scrolling-tables'}}
            %table.table.register-data-table
              %thead
                %tr
                  - @register.register_fields.each do |field|
                    = records_table_header(field['field'])
              %tbody#records-tbody
                - if @register.is_empty?
                  %tr
                    %td{colspan: @register.register_fields.count}
                      .panel.panel-border-wide
                        %p This register currently has no data. The owner of the register will publish the data once it has been gathered.
                - else
                  = render partial: 'record', collection: @records

          - if @show_load_more
            .pager
              .pager-controls.js-hidden
                = paginate @records, outer_window: 0, window: 3
              - unless @records.last_page?
                %b= link_to_next_page @records, 'Load more records', id: 'load-more-records', class: 'js-load-more', remote: true, 'aria-controls': 'records-count'

      .govuk-grid-column-full
        - if @register.is_empty? || @records.any?
          = render partial: 'registers/fields', locals: { register: @register, records: @records }

= content_for :head do
  = render partial: 'registers/structured_data', locals: { register: @register }

= content_for :javascript do
  - if @show_load_more
    :javascript
      var count = 0;
      if (document.getElementById('load-more-records') !== null) {
        document.getElementById('load-more-records')
          .addEventListener('click', function() {
            count = count + 1
            ga('send', {
              hitType: 'event',
              eventCategory: 'Register Table',
              eventAction: 'Load more ' + count,
              eventLabel: 'Load more',
              nonInteraction: true
            })
          })
      };
