- @page_title = "#{[@register.seo_title, @register.register_name + ' register'].find(&:present?)}"
- @page_description = "#{[@register.meta_description, @register.register_description].find(&:present?)}"
- content_for :body_classes, 'register-show'

.govuk-width-container
  %main#content.govuk-main-wrapper{role:'main', class: 'govuk-!-padding-top-0'}
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        - if @register.register_phase != 'Beta'
          .govuk-inset-text
            %strong.govuk-tag In progress
            %p This data is in progress and it’s not ready for use.
        %h1{class: "govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-1"}
          #{@register.register_name} register
        %p.govuk-body-l= @register.register_description
        %dl.govuk-metadata
          - if @register.authority.present?
            %dt.register-metadata__term Organisation:
            %dd.register-metadata__definition= link_to @register&.authority&.name, authority_path(@register.authority.government_organisation_key)
          - if @register&.category_id&.present? or @register.register_phase != 'Beta'
            %dt.register-metadata__term Category:
            %dd.register-metadata__definition= link_to @register_category.name, category_path(@register_category.slug)
          - unless @register.is_empty?
            %dt.register-metadata__term Last updated:
            %dd.register-metadata__definition= link_to formatted_date(@register.register_last_updated), register_entries_path(@register.slug)
        %p= link_to 'Access the data', register_choose_access_path(@register.slug), { class: 'registers__button--access govuk-!-margin-top-5'}
    %section.govuk-grid-row#records_wrapper{ data: { module: 'accordion-with-descriptions'}}
      .govuk-grid-column-full.subsection__header
        %h2.govuk-heading-m.subsection__title
          About the data
      .govuk-grid-column-two-thirds.subsection__content
        %p This register has #{number_with_delimiter(@register_records_total_count)} records and #{@register.register_fields.count} fields
      .govuk-grid-column-one-third.subsection__content
        = form_tag register_path(@register.slug, anchor: 'records_wrapper'), method: :get, id: 'search_records', class: 'records-search' do
          = label_tag 'Search', nil, for: 'q', class: 'visually-hidden'
          = search_field_tag 'q', nil, class: 'search-input', placeholder: 'Search', value: @search_term, autocomplete: 'off'
          = submit_tag 'Search', name: nil, class: 'search-submit'
      .govuk-grid-column-full.subsection__content
        %p
          %span#records-count
            = render partial: 'showing'
          - if @search_term.present?
            = link_to 'Reset', register_path(@register.slug, anchor: 'records_wrapper'), class: 'reset-link'
      .govuk-grid-column-full.subsection__content
        - if @register.is_empty? || @records.any?
          .fullscreen-content{data: {module: 'scrolling-tables'}}
            %table.table.register-data-table
              %thead
                %tr
                  - @register.register_fields.each do |field|
                    %th{class: "#{field['field']}"}
                      = field['cardinality'] == '1' ? records_table_sort_link(field['field'], request.query_parameters) : field['field'].tr('-', ' ').humanize
                      = link_to register_field_url(@register.slug, field['field']), class: 'info-icon', remote: true, data: {"click-events" => true, "click-category" => "Register Table", "click-action" => "Help"} do
                        %span.visually-hidden
                          What does #{field['field']} mean
                        ?
              %tbody#records-tbody
                - if @register.is_empty?
                  %tr
                    %td{colspan: @register.register_fields.count}
                      .panel.panel-border-wide
                        %p This register currently has no data. The owner of the register will publish the data once it has been gathered.
                - else
                  = render partial: 'record', collection: @records
          .pager
            .pager-controls.js-hidden
              = paginate @records, outer_window: 0, window: 3
            - unless @records.last_page?
              %div{data: { "click-events" => true, "click-category" => "Register Table", "click-action" => "Load More" }}
                = link_to_next_page @records, 'Load more', id: 'load-more-records', class: 'js-load-more', remote: true

      .govuk-grid-column-full.subsection__content
        %p= link_to 'Access all the data in this register', register_choose_access_path(@register.slug), { class: 'registers__button--access-large'}
        - unless @records.any? || @register.is_empty?
          - if @search_term.present?
            %script
              -# TODO: current and archived no longer present; what goes here as the filter?
              var searchFilter = 'current'; //
              ga('send', 'event', 'Search', 'No results filtered by: ' + searchFilter, '#{@search_term}', {nonInteraction: true});
          - else
            %script
              ga('send', 'event', 'Search', 'No results', 'Search term not present');
    %section{class: 'govuk-!-margin-top-4 govuk-grid-row', data: { module: 'accordion-with-descriptions'}}
      .govuk-grid-column-full.subsection__header
        %h2.govuk-heading-m.subsection__title
          Feedback
      .govuk-grid-column-full.subsection__content
        = render partial: 'feedback/form'

%dialog#modal_dialog.modal-dialog.dialog{role: "dialog", "aria-hidden" => "true", "aria-labelledby" => "dialog-title"}
  %button{type: 'button', class: 'modal-dialog__close', "aria-label" => "Close dialog"} Close
  .modal-dialog__inner

= content_for :head do
  = render partial: 'registers/structured_data', locals: { register: @register }
