- @page_title = "Sign up for updates"

%main#content{role: 'main'}
  .grid-row
    .column-full
      %h1.heading-large Sign up for updates
      %p Get notifications about:
      %ul.list.list-bullet
        %li changes to our service, like breaking changes
        %li updates to registers, the latest available registers, and upcoming registers
        %li tips and guidance on how to get the best out of registers

      = form_for @sign_up_user, url: thank_you_for_signing_up_path() + @params, html: { class: "js--ga-submit" } do |f|
        .form-group
          = label_tag("email-address", "Email address", class: "form-label-bold")
          = email_field_tag("email-address", nil, class: "govuk-input govuk-!-width-one-half", required: true)
        .form-group
          = button_tag("Sign up for updates", class: "button")

= content_for :javascript do
  :javascript
    ( function(document, window, undefined) {

      var getValue = function(element) {
          if (element === null) {
            return 'Blank'
          }

          if (element.value) {
            var findEmailDomain = element.value.match(/(?:^.+)@(.+$)/);

            if (findEmailDomain === null) {
              return 'no email provided'
            }

            return findEmailDomain[1];
          }

          return false;
      }
      document.querySelector('.js--ga-submit')
        .addEventListener('submit', function(event) {
          var form = event.target;
          var emailDomain = getValue(form.querySelector('input[name="email-address"]'))

          ga('send', {
            hitType: 'event',
            eventCategory: 'Form',
            eventAction: 'Submit - ' + emailDomain ,
            eventLabel: 'Sign up email',
            nonInteraction: true
          })

        })
    })(document, window);