- @page_title = "Support"

.container
  .grid-row
    .column-one-whole
      %h1.heading-large Support
      - if @support.errors.any?
        %div{id: "validation-error-message-no-js", class: "error-summary form-group"}
          %h1.heading-medium.error-summary-heading Support form could not be sent
          %ul.error-summary-list
            - @support.errors.full_messages.each do |error|
              %li
                = error

      = form_for @support do |f|
        = render 'spina/supports/steps/current_step', f: f

  .grid-row
    .column-two-thirds
      %h3.heading-medium Support process
      %p The Government Digital Service (GDS) maintains the platform behind registers and helps custodians to manage their registers and keep the data up-to-date. GDS provides operational support from 9am to 5pm, Monday to Friday.
      %p You can #{link_to "find help", "https://registers-docs.cloudapps.digital/#support-and-community", target: :blank} about common issues when using registers, including how to find a specific record or error codes.
      %p If your issue isn’t included or you’re struggling to use registers in your product or service, please contact the GDS registers team at #{mail_to "registerteam@digital.cabinet-office.gov.uk"}.
