- @page_title = 'Suggest or Request a new register'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large Suggest a register
      %p If you can't find a register in our #{link_to 'Registers collection', registers_path} or want to tell us about a potential register, let us know what you need and we'll contact you.

      %h3.heading-medium How can we help you?
      = form_tag select_request_or_suggest_path do
        .form-group
          %fieldset
            %legend.visually-hidden How can we help you?
            .multiple-choice
              = radio_button_tag :subject, :request, checked: true
              = label_tag :subject_request, 'Request a register that I need'
            .multiple-choice
              = radio_button_tag :subject, :suggest
              = label_tag :subject_suggest, 'Suggest a register that uses my data'
        .form-group
          = submit_tag 'Continue', class: 'button'
