- @page_title = 'New register - Suggest a register'

%main.container{role:'main'}
  .grid-row
    .column-two-thirds
      = link_to 'Back', new_register_path, class: 'link-back'

  .grid-row
    .column-full
      %h1.heading-large Suggest a register

      - if @new_register.errors.any?
        = render partial: 'layouts/errors', locals: { object: @new_register }

      = form_for @new_register, url: new_register_suggest_register_path  do |f|
        = f.hidden_field :subject, value: '[Suggest a Register]'
        %div{class: "form-group  #{@new_register.errors[:message].present? ? 'form-group-error' : ''}"}
          = f.label :message, "Describe your data", class: 'form-label'
          %span.form-hint For example, I have a list of all schools including name and school type.
          = f.text_area :message, rows: 10, class: 'form-control'
        %div{class: "form-group  #{@new_register.errors[:name].present? ? 'form-group-error' : ''}"}
          = f.label :name, 'Name', class: 'form-label'
          = f.text_field :name, class: 'form-control'
        %div{class: "form-group  #{@new_register.errors[:email].present? ? 'form-group-error' : ''}"}
          = f.label :email, 'Email address', class: 'form-label'
          = f.email_field :email, class: 'form-control'
        = f.submit 'Submit', class: 'button'