%li.entries__item
  %p.entries__date
    Last updated:
    = DateTime.parse(timeline_record[:current_record].timestamp.to_s).strftime('%d/%m/%Y')
  %h3.heading-medium= timeline_record[:current_record].key
  %table
    %thead
      %tr
        %th
          %strong Field
        %th
          %strong Previous Value
        %th
          %strong New Value
    %tbody
      - timeline_record[:updated_fields].each do |field_name|
        %tr
          %td
            = field_name
          %td
            = timeline_record[:previous_record].present? ? timeline_record[:previous_record].data[field_name] : "<span class='unknown'>No data found</span>".html_safe
          %td
            - if timeline_record[:current_record].data[field_name].present?
              %span.panel.panel-change-notification= timeline_record[:current_record].data[field_name]
            - else
              %span.unknown No data found
