= content_for :page_title, "Register updates"

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Registers collection', registers_path
    %li.breadcrumbs__item
      = link_to "#{@register.name} Register", register_path(@register.slug)
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Register updates', '#content', 'aria-current' => 'page'

%main#content.container{role:'main'}
  .grid-row
    .column-full
      %h1.heading-xlarge Register updates

  .grid-row
    .column-one-third
      = form_tag register_entries_path(@register.slug), method: :get, id: 'search_updates' do
        .records-search
          = label_tag 'Search updates', nil, class: 'visually-hidden', for: 'q'
          = search_field_tag 'q', nil, class: 'search-input', value: params[:q], placeholder: 'Search'
          = submit_tag 'Search', class: 'search-submit', name: nil

  .grid-row
    .column-full
      - if @entries_with_items.present?
        %ul.entries#entries-list
          = render partial: 'timeline_record', collection: @entries_with_items

        .pager
          .pager-controls
            = paginate @entries_with_items, outer_window: 0, window: 3
          .pager-summary
            Showing #{@entries_with_items.offset_value + 1} &ndash; #{@entries_with_items.offset_value + @entries_with_items.length} of #{@entries_with_items.total_count} records

        - unless @entries_with_items.last_page?
          = link_to_next_page @entries_with_items, 'Load more', id: 'load-more-entries', class: 'js-hidden', remote: true
      - else
        .no-search-results
          %p
            No results found for <strong>"#{params[:q]}"</strong>
            = link_to 'Reset', register_entries_path(@register.slug, anchor: 'search_wrapper'), class: 'reset-link'
