!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
    %meta{ name: "description", content: "#{@page_description}" }
    = csrf_meta_tags
    %title GOV.UK Registers - #{@page_title}
    = stylesheet_link_tag 'application', media: 'all'

  %body
    %a.skip-link{href: "#main"} Skip to main content
    %header{class: "header #{'header--without-border' if current_page?(spina.root_path)}"}
      .header__container
        .header__brand
          = link_to spina.root_path do
            %span.header__title
              = current_account.name
              %span.phase-banner Beta
        %input#show-menu.header__navigation-toggle-checkbox{"aria-controls" => "navigation", "aria-expanded" => "false", :type => "checkbox"}/
        %label.header__navigation-toggle{:for => "show-menu"}
          Menu
        %nav#navigation.header__navigation{"aria-hidden" => "true", "aria-label" => "Top Level Navigation"}
          %ul
            = render 'default/shared/navigation'
            %li
              = link_to "Documentation", "http://open-registers-docs.readthedocs.io/en/latest/", target: :blank

    %main#main{role: "main"}
      = yield

    %footer#footer.group.js-footer{role: "contentinfo"}
      .footer-wrapper
        .footer-meta
          .footer-meta-inner
            .open-government-licence
              %p.logo
                %a{href: "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/", :rel => "license"} Open Government Licence
              %p
                All content is available under the
                = succeed "," do
                  %a{href: "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/", :rel => "license"} Open Government Licence v3.0
          .copyright
            %a{href: "http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"}= content_for?(:crown_copyright_message) ? yield(:crown_copyright_message) : "© Crown copyright"

    = javascript_include_tag :application
