- content_for :page_title, "GOV.UK Registers - #{@page_title}"

- content_for :inside_header do
  %strong.beta-badge Beta

- content_for :global_header_text, 'GOV.UK <span id="product-name">Registers</span>'.html_safe

- content_for :homepage_url, '/'

- content_for :header_class, "with-proposition #{'header--without-border' if current_page?(spina.root_path)}"

- content_for :proposition_header do
  .header-proposition
    .content
      = link_to 'Menu', '#proposition-links', class: 'js-header-toggle menu'
      %nav#proposition-menu
        %ul#proposition-links
          = render 'default/shared/navigation'
          %li
            = link_to 'Support', '/support', target: :blank
          %li
            = link_to 'Documentation', 'https://registers-docs.cloudapps.digital', target: :blank

- content_for :head do
  = stylesheet_link_tag 'application'
  = csrf_meta_tags
  = tag :meta, property: 'description', content: @page_description

- content_for :content do
  %main#main{role: 'main'}
    - if Rails.env.staging?
      .container
        .grid-row
          .column-one-whole
            .error-summary This is a staging environment, intended to testing and user research only
    - if alert
      .grid-row
        .column-two-thirds
          .flash.flash--dangerous= alert
    - if notice
      .grid-row
        .column-two-thirds
          .flash.flash--notice= notice

    = content_for?(:main) ? yield(:main) : yield

- content_for :body_end do
  = render partial: 'spina/shared/analytics'
  = javascript_include_tag 'application'
  = yield(:javascript)

= render file: 'layouts/govuk_template'
