= form_tag(@next_page, { class: "js--ga-submit" }) do |f|
  %div{ :class => "govuk-form-group access-to-data govuk-!-padding-bottom-2" }
    %fieldset
      %legend{ class: "heading-medium govuk-!-margin-bottom-2 govuk-!-margin-top-2 js--do-you-work"} Do you work for the government?
      %span#do-you-work-for-government-error.govuk-error-message
      .govuk-radios{ "data-module" => "radios" }
        .govuk-radios__item
          = radio_button_tag("help_us_improve_user[is_government]", "Yes", false, class: "govuk-radios__input", id: "is-government-conditional-1", "data-aria-controls": "conditional-is-government-conditional-1", data: { required: true, children: 'help_us_improve_user[gov_what_are_you_using_registers_for] help_us_improve_user[gov_what_part_of_government]' } )
          = label_tag("is-government-conditional-1", 'Yes', class: "govuk-label govuk-radios__label")
        #conditional-is-government-conditional-1.govuk-radios__conditional.govuk-radios__conditional--hidden
          %div{ :class => "govuk-!-padding-bottom-3 govuk-!-margin-bottom-3 govuk-!-padding-top-2 js--part-of-gov" }
            %label{ :for => "gov-what-part-of-government", :class => "govuk-label govuk-!-padding-bottom-1 js--part-of-gov-label"}
              Which part of government are you from?
            = select 'help_us_improve_user', 'gov_what_part_of_government', @government_organisations.all.collect{ |org| [org.data['name'], org.key] }, { include_blank: true }, id: 'government-organisations', data: { required: true }
          %div{ :class => "govuk-form-group govuk-!-padding-bottom-3 js-registers-use-group" }
            %label{ :for => "help_us_improve_user[gov_what_are_you_using_registers_for]", :class => "govuk-label govuk-!-padding-bottom-1 js--registers-use-label"}
              What are you using registers for?
            .govuk-radios__item
              = radio_button_tag('help_us_improve_user[gov_what_are_you_using_registers_for]', 'Building a service', false, class: 'govuk-radios__input', id: 'gov-building-a-service', data: { required: true})
              = label_tag('gov-building-a-service', 'Building a service', class: 'govuk-label govuk-radios__label')
            .govuk-radios__item
              = radio_button_tag('help_us_improve_user[gov_what_are_you_using_registers_for]', 'For data analysis or reporting', false, class: 'govuk-radios__input', id: 'gov-for-data-analysis-or-reporting', data: { required: true })
              = label_tag("gov-for-data-analysis-or-reporting", 'For data analysis or reporting', class: "govuk-label govuk-radios__label")
            .govuk-radios__item
              = radio_button_tag('help_us_improve_user[gov_what_are_you_using_registers_for]', 'Other', false, class: 'govuk-radios__input', id: 'gov-other', data: { required: true })
              = label_tag('gov-other', 'Other', class: 'govuk-label govuk-radios__label')
        .govuk-radios__item
          = radio_button_tag('help_us_improve_user[is_government]', 'No', false, class: 'govuk-radios__input', id: 'is-government-conditional-2', 'data-aria-controls': 'conditional-is-government-conditional-2', data: { required: true })
          = label_tag('is-government-conditional-2', 'No', class: 'govuk-label govuk-radios__label')
        #conditional-is-government-conditional-2.govuk-radios__conditional.govuk-radios__conditional--hidden
          %div{ :class => "govuk-form-group govuk-!-padding-bottom-3 govuk-!-padding-top-3" }
            %label{ :for => "what-are-you-using-registers-for", :class => "govuk-label govuk-!-padding-bottom-1"}
              What are you using registers for?
              %span{ :class => "registers-!-faded-colour"} (optional)
            .govuk-radios__item
              = radio_button_tag("help_us_improve_user[nongov_what_are_you_using_registers_for]", "Commercial use", false, class: "govuk-radios__input", id: "commercial-use")
              = label_tag("commercial-use", 'Commercial use', class: "govuk-label govuk-radios__label")
            .govuk-radios__item
              = radio_button_tag("help_us_improve_user[nongov_what_are_you_using_registers_for]", "Non-commercial use", false, class: "govuk-radios__input", id: "non-commercial-use")
              = label_tag("non-commercial-use", 'Non-commercial use', class: "govuk-label govuk-radios__label")
            .govuk-radios__item
              = radio_button_tag("help_us_improve_user[nongov_what_are_you_using_registers_for]", "Personal use", false, class: "govuk-radios__input", id: "personal-use")
              = label_tag("personal-use", 'Personal use', class: "govuk-label govuk-radios__label")
            .govuk-radios__item
              = radio_button_tag("help_us_improve_user[nongov_what_are_you_using_registers_for]", "Other", false, class: "govuk-radios__input", id: "other")
              = label_tag("other", 'Other', class: "govuk-label govuk-radios__label")
  %div{ class: "govuk-form-group access-to-data__submit-group"}
    -# = submit_tag("Submit", class: "button")
    %button.button{type: 'submit'}
      Submit
    %span or
    = link_to "I'd prefer not to say", @next_page, { class: 'js--ga-watch-click' }

= content_for :javascript do
  :javascript
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.getElementById('government-organisations'),
      showAllValues: false,
      minLength: 2,
      defaultValue: ''
    });
