- @page_title = 'Choose how to access the data'

%main#content.container{role:'main'}
  .grid-row
    .column-full
      %header.heading-large
        %span.heading-secondary Step 1 of #{@number_of_steps}
        %h2
          %b Choose how to access the data
    .column-full.highlight-boxes
      .highlight-box
        %h3.heading-medium API
        %p
          Each register has an API to access the data.
        %ul.list.list-bullet
          %li always use the most up-to-date data
          %li get the data as JSON or CSV
          %li use our quick start guide to get set up
          %li get notifications about updates to our service, like downtime and breaking changes
        = link_to 'Use the API', @next_step_api, { class: 'js--ga-watch-click', id: "label-API" }

      .highlight-box
        %h3.heading-medium Download
        %p
          You can download the data in each register.
        %ul.list.list-bullet
          %li get the data as JSON or CSV
        = link_to 'Download', @next_step_download, { class: 'js--ga-watch-click', id: "label-download" }

- if @number_of_steps == 2
  = content_for :javascript do
    :javascript
      var nextSteps = document.querySelectorAll('.js--ga-watch-click')
      for (var i = 0; i < nextSteps.length; i++) {
        nextSteps[i]
          .addEventListener('click', function(event) {
            ga('send', {
              hitType: 'event',
              eventCategory: 'Form',
              eventAction: 'Skip - cookie',
              eventLabel: 'Help us improve',
              nonInteraction: true,
              dimension2: '#{@register.name.downcase} - ' + event.target.id.replace(/label-/g, '').toLowerCase()
            })
          })
      }
