- @page_title = 'Use the API'

%main#content.container{role:'main'}
  .grid-row
    .column-full
      %header.heading-large
        %span.heading-secondary Step #{@number_of_steps} of #{@number_of_steps}
        %h2
          %b Use the API
    .column-two-thirds
      %p
        The register ID is:
        %code.code.code-curl #{@register.slug}

      %p
        Get this register as JSON:
        %code.code.code-curl curl #{@register.url}/records.json?page-size=5000

      %p
        Read our #{link_to 'technical documentation', 'https://docs.registers.service.gov.uk/#choose-a-response-format'} to see how to get started.
  = render partial: 'layouts/email_cta', locals: {method: 'api', register_slug: @register&.slug}
