- @page_title = "Download - #{@register.register_name} register"
- content_for :body_classes, 'api-key-page'

%main#content{role: 'main'}
  .grid-row
    .column-full
      %header.heading-large
        %span.heading-secondary Step #{@number_of_steps} of #{@number_of_steps}
        %h2
          %b Download the #{@register.register_name} register
    .column-full
      %p You can download the latest data in this register as:
      %ul.list.list-bullet{data: {"click-events" => true, "click-category" => "Content", "click-action" => "Register Download"}}
        %li= link_to 'CSV', register_download_csv_path(@register.slug)
        %li= link_to 'JSON', register_download_json_path(@register.slug)
      %h2.heading-medium Stay up to date
      %p Get notifications about:
      %ul.list.list-bullet
        %li changes to our service, like downtime and breaking changes
        %li the latest available registers and upcoming registers
        %li tips and guidance on how to get the best our of registers
      %p
        = link_to 'Sign up for updates', sign_up_for_updates_path() + '/?from=' + @register.slug + '&method=api', class: 'button'
