- @page_title = "Download - #{@register.title} register"
- content_for :body_classes, 'api-key-page'

%main#content{role: 'main'}
  .grid-row
    .column-full
      %header.heading-large
        %span.heading-secondary Step #{@number_of_steps} of #{@number_of_steps}
        %h2
          %b Download the data
    .column-full
      %p You can download the latest data in this register as:
      %ul.list.list-bullet{data: {"click-events" => true, "click-category" => "Content", "click-action" => "Register Download"}}
        %li= link_to 'ODS (Excel compatible)', register_download_ods_path(@register.slug), rel: 'nofollow'
        %li= link_to 'CSV', register_download_csv_path(@register.slug), rel: 'nofollow'
      = render partial: 'layouts/email_cta', locals: {method: 'download', register_slug: @register&.slug}