- @page_title = "Download - #{@register.register_name} register"
- content_for :body_classes, 'api-key-page'

%main#content{role: 'main'}
  .grid-row
    .column-full
      %h1.heading-large Download the #{@register.register_name} register
      %p You can download the latest data in this register as:
      %ul.list.list-bullet
        %li= link_to 'CSV', register_download_csv_path(@register.slug)
        %li= link_to 'JSON', register_download_json_path(@register.slug)
      .participate#participation_section
        = GovukElementsErrorsHelper.error_summary @download, "There is a problem with the form", ""
        - if flash.alert.present?
          %div{:class => 'error-summary', :role => 'alert'}
            %h2{:class => %w(heading-medium error-summary-heading), :id => 'error-summary-heading'}= flash.alert[:title]
            %p!="If the problem persists please contact  #{link_to 'support', support_path}" unless @download.errors.any?
        %h3.heading-medium Help us improve GOV.UK Registers
        %p.text We'd like to contact you occasionally to ask you questions about how you use registers. Your feedback will help us improve our service and you can unsubscribe at any time. Read more in our #{link_to 'privacy notice', privacy_notice_path}.

        = render 'form', user: @user
