%tr
  %td
    %h3.heading-small= register.name
    = govspeak(register.description)
  %td
    %span{class: "#{register.register_phase.downcase} status"}= register.register_phase
  %td
    %div{class: "govuk-organisation-logo #{register.authority.parameterize}"}
      %div.logo-container.logo-with-crest.crest-single-identity
        %span= register.authority
  %td.links
    = link_to "View Register", register.url, target: :blank
    = link_to "View History", register_path(register.slug)
