%tr{class: "js-filter-item", "data-filter-terms" => "#{register.name}"}
  %th{"data-title" => index, }
    %h4.heading-xsmall= register.name
    - if register.register_phase == 'Backlog' || @register_registers.select{ |r| r.entry.key == register.name.parameterize }.first.nil?
      %p= govspeak(register.description)
    - else
      %p= @register_registers.select{ |r| r.entry.key == register.name.parameterize }.first.item.value['text']
  %td{"data-title" => "Phase: "}
    = phase_label(register.register_phase)
  %td{"data-title" => "Managed by: "}
    %div{class: "govuk-organisation-logo #{register.authority.parameterize}"}
      %div{class: "logo-container #{crest_class_name(register.authority.parameterize)}"}
        %span= register.authority
  - if register.url.present?
    %td{class: "links", "data-title" => "View more: "}
      = link_to "View register", register.url, target: :blank
  - else
    %td
  - if register.history.present?
    %td{class: "links", "data-title" => "View more: "}
      = link_to "View history", register_path(register.slug)
  - else
    %td
