= content_for :page_title, "Register updates"

%nav{class: "breadcrumbs", "aria-label" => "Breadcrumbs"}
  %ol{itemscope: "", itemtype: "http://schema.org/BreadcrumbList"}
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "https://www.gov.uk/service-toolkit#components", itemprop: "item" do
        %span{itemprop: "name"} Components
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to root_path, itemprop: "item" do
        %span{itemprop: "name"} GOV.UK Registers
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to registers_path, itemprop: "item" do
        %span{itemprop: "name"} Register pipeline
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to new_show_path(@register.slug), itemprop: "item" do
        %span{itemprop: "name"} #{@register.name} Register
    %li{class: "breadcrumbs__item breadcrumbs__item--active", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      %a{href: "#main", itemprop: "item"}
        %span{itemprop: "name"} Register updates

%main#content{role:'main'}
  .grid-row
    .search-records-wrapper
      .column-two-thirds
        .form-group-wrapper.js-enabled
          = form_tag history_path(@register.slug), method: :get, id: 'filter_records' do
            .form-group
              = label_tag 'Search for an update', nil, class: 'form-label', for: 'search_input'
              = text_field_tag 'search_input', nil, class: 'search-input', value: params[:record_status], id: 'search_input'
  .grid-row
    .column-full
      %ul.entries.js-filter-block
        = render partial: 'timeline_record', collection: @entries_with_items

= content_for :javascript do
  :javascript
    $("#search_input").change(function () {
      $('#filter_records').submit();
    });
