- @page_title = @page.seo_title
- @page_description = @page.description

.grid-row
  .column-full
    = govspeak(@page.content(:text))

.grid-row
  - @current_phases.each do |phase|
    - registers = @registers.select{ |register| register.register_phase == phase }
    .column-one-fifth
      %div{class: "data #{phase.downcase}"}
        %span.data-item.bold-xxlarge= registers.size
        %span.data-item.bold-xsmall Registers in #{phase.downcase}

.grid-row
  .column-full
    %table.register-status-table
      %thead
        %tr
          %th= sort_link "name", "Register"
          %th= sort_link "register_phase", "Status"
          %th= sort_link "authority", "Managed by"
          %th
      %tbody
        - @registers.each do |register|
          = render partial: 'spina/registers/register', object: register
