- @page_title = @page.seo_title
- @page_description = @page.description

%nav{class: "breadcrumbs", "aria-label" => "Breadcrumbs"}
  %ol{itemscope: "", itemtype: "http://schema.org/BreadcrumbList"}
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "https://www.gov.uk/service-toolkit#components", itemprop: "item" do
        %span{itemprop: "name"} Components
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to root_path, itemprop: "item" do
        %span{itemprop: "name"} Registers
    %li{class: "breadcrumbs__item #{'breadcrumbs__item--active' unless params[:phase].present?}", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      %a{href: "/registers", itemprop: "item"}
        %span{itemprop: "name"}= @page.menu_title
    - if params[:phase].present?
      %li{class: "breadcrumbs__item breadcrumbs__item--active", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
        = link_to "/register-status", itemprop: "item" do
          %span{itemprop: "name"} Registers in #{params[:phase]}

.container
  .grid-row
    .column-one-whole
      .govspeak
        = govspeak(@page.content(:text))

  - if params[:phase].present?
    .grid-row
      .column-one-fifth
        %div{class: "data border-#{params[:phase].downcase}"}
          %span.data-item.bold-xxlarge= @registers.size
          %span.data-item.bold-xsmall Registers in #{params[:phase]}

  - else
    .grid-row
      - @current_phases.each do |phase|
        - registers = @registers.select{ |register| register.register_phase == phase }
        .column-one-fifth
          %div{class: "data border-#{phase.downcase}"}
            %span.data-item.bold-xxlarge= registers.size
            %span.data-item.bold-xsmall= link_to "Registers in #{phase.downcase}", request.query_parameters.merge({ phase: phase })

  .grid-row
    .column-one-whole
      %h3.heading-small.mq-small-only Sort by:
      %table.register-status-table.floated-header.table-collapsible
        %thead
          %tr
            %th{role: "columnheader", scope: "col"}
              = sort_link(@search, :name, "Register", default_order: :desc)
            %th{role: "columnheader", scope: "col"}
              = sort_link(@search, :phase_name, "Status", default_order: :desc)
            %th{role: "columnheader", scope: "col"}
              = sort_link(@search, :register_authority, "Managed by", default_order: :asc)
            %th{role: "columnheader", scope: "col"}
        %tbody
          - @registers.each_with_index do |register, index|
            - index = index + 1
            = render partial: 'spina/registers/register', object: register, locals: { index: index }
