- @page_title = "#{@register.name.capitalize} Register"
- @page_description = ""

%nav{class: "breadcrumbs", "aria-label" => "Breadcrumbs"}
  %ol{itemscope: "", itemtype: "http://schema.org/BreadcrumbList"}
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "https://www.gov.uk/service-toolkit#components", itemprop: "item" do
        %span{itemprop: "name"} Components
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      %a{href: "#main", itemprop: "item"}
        %span{itemprop: "name"} GOV.UK Registers
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to registers_path, itemprop: "item" do
        %span{itemprop: "name"} Registers
    %li{class: "breadcrumbs__item breadcrumbs__item--active", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      %a{href: "#main", itemprop: "item"}
        %span{itemprop: "name"}= @register.name

.container
  .grid-row
    .column-two-thirds
      %h1.heading-with-phase
        = @page_title
        %span.phase-banner= @register.register_phase

      .govspeak
        = govspeak(@register.history)

      %h2.heading-large Register updates
      - @register.phases.each do |phase|
        - grouped_steps = @register.steps.select { |step| step.step_phase == phase.name }

        - grouped_steps.each do |step|
          %h3.heading-medium{id: "#{step.title.parameterize}"}
            %span.phase-banner
              = phase.name
            = step.title
          .govspeak
            = govspeak(step.content)

    .column-third
      %aside#related
        .related-container
          .group
            - if @register.url.present?
              %h4.heading-small Register
              %p= link_to @register.url, @register.url, rel: 'external'
            %h4.heading-small Authority
            %p= @register.authority
            - if @register.custodian.present?
              %h4.heading-small Custodian
              %p= @register.custodian

            %hr

            - @register.phases.each do |phase|
              - grouped_steps = @register.steps.select { |step| step.step_phase == phase.name }

              %span.phase-banner= phase.name

              %ul.tick-list
                - grouped_steps.each do |step|
                  %li
                    - if step.completed.present?
                      %svg#Layer_1{"enable-background" => "new 0 0 35 35", :height => "30px", :space => "preserve", :version => "1.1", :viewbox => "0 0 35 35", :width => "30px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                        %g
                          %g
                            %path{:d => "M12.393,29.908", :fill => "#231F20"}
                        %g
                          %polyline{:fill => "#FFFFFF", :points => "30.848,7.857 12.811,25.895 3.836,16.921 \t"}
                          %polygon{:fill => "#231F20", :points => "27.012,11.66 10.742,27.93 3.535,20.724 0,24.26 10.742,35 30.547,15.195 \t"}
                    - else
                      %svg#Layer_1{"enable-background" => "new 0 0 35 35", :height => "30px", :space => "preserve", :version => "1.1", :viewbox => "0 0 35 35", :width => "30px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                    = link_to step.title, "#{ '#' + step.title.parameterize}"
