- @page_title = "#{@register.name.capitalize} Register"
- @page_description = ""

%nav{class: "breadcrumbs", "aria-label" => "Breadcrumbs"}
  %ol{itemscope: "", itemtype: "http://schema.org/BreadcrumbList"}
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "https://www.gov.uk/service-toolkit#components", itemprop: "item" do
        %span{itemprop: "name"} Components
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to root_path, itemprop: "item" do
        %span{itemprop: "name"} GOV.UK Registers
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to registers_path, itemprop: "item" do
        %span{itemprop: "name"} Register pipeline
    %li{class: "breadcrumbs__item breadcrumbs__item--active", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      %a{href: "#main", itemprop: "item"}
        %span{itemprop: "name"}= @register.name

.container
  .grid-row
    .column-two-thirds
      %h1= @page_title

    .column-third
      %aside#related
        .related-container
          .group
            %h4.heading-small Managed by
            %div{class: "govuk-organisation-logo #{@register.authority.parameterize}"}
              %div{class: "logo-container #{crest_class_name(@register.authority.parameterize)}"}
                %span= @register.authority
            - if @register.custodian.present?
              %h4.heading-small Custodian
              %p= @register.custodian
            - if @register.url.present?
              %h4.heading-small Register
              %p= link_to @register.url, @register.url, rel: 'external'

            %hr
