- @page_title = "Support - Report a problem"

.container
  .grid-row
    .column-one-whole
      %h1.heading-large Suggest a register
      - if @suggest_register.errors.any?
        = render partial: "layouts/default/errors", locals: { object: @suggest_register }

      = form_for @suggest_register, url: suggest_register_path  do |f|
        = f.hidden_field :subject, value: "Suggest a Register"
        = f.text_field :register_name
        = f.text_area :message, rows: 10
        = f.text_field :name
        = f.email_field :email
        = f.submit "Submit", class: "button"
