- @page_title = "Support"

.container
  .grid-row
    .column-one-whole
      %h1.heading-large Support

      %h3.heading-medium How can we help you?
      = form_tag select_support_path do
        .form-group
          %fieldset
            %legend.visually-hidden How can we help you?
            .multiple-choice
              = radio_button_tag :subject, :problem, checked: true
              = label_tag :subject_problem, "I want to report a problem"
            .multiple-choice
              = radio_button_tag :subject, :question
              = label_tag :subject_question, "I have a question or want to give feedback"
        .form-group
          = submit_tag "Continue", class: "button"

  .grid-row
    .column-two-thirds
      %p The Government Digital Service (GDS) maintains the platform behind registers and helps custodians to manage their registers and keep the data up-to-date. GDS provides operational support from 9am to 5pm, Monday to Friday.
      %p You can #{link_to "find help", "https://registers-docs.cloudapps.digital/#support-and-community", target: :blank} about common issues when using registers, including how to find a specific record or error codes.
      %p If your issue isn’t included or you’re struggling to use registers in your product or service, please contact the GDS registers team at #{mail_to "registerteam@digital.cabinet-office.gov.uk"}.
