- @page_title = "Support - Ask a question or give feedback"

.container
  .grid-row
    .column-one-whole
      %h1.heading-large Ask a question or give feedback
      - if @support.errors.any?
        = render partial: "layouts/default/errors", locals: { object: @support }

      = form_for @support, url: support_question_path  do |f|
        = f.hidden_field :subject, value: "Question or Feedback"
        = f.text_area :message, rows: 10
        = f.text_field :name
        = f.email_field :email
        = f.submit "Submit", class: "button"
