- console
- @page_title = "Record #{params[:id]} in the #{@register.name} register"
- content_for :body_classes, 'records-show'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large Record <strong>#{params[:id]}</strong> in the <strong>#{@register.name}</strong> register
  .grid-row
    .column-full
      %table.table
        %thead
          %tr
            %th Field
            %th Value
        %tbody
        - @register.register_fields.each do |field|
          - field_value = @record.data[field['field']]
          - if field_value.present?
            %tr
              %td
                = field['field']
              %td
                =  field_value
  .grid-row
    .column-two-thirds
      %p This is a record from the #{link_to @register.name, register_path(@register.slug)} register
