- @page_title = "Record #{params[:id]} in the #{@register.register_name} register"
- content_for :body_classes, 'records-show'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      %div#link-back
      %h1.heading-large Record <strong>#{params[:id]}</strong> in the <strong>#{@register.register_name}</strong> register
  .grid-row
    .column-full
      %table.table
        %thead
          %tr
            %th Field
            %th Value
        %tbody
        - @register.register_fields.each do |field|
          - field_value = @record.data[field['field']]
          - if field_value.present?
            %tr
              %td
                = field['field']
              %td
                =  field_value.is_a?(Array) ? field_value.join(', ') : link_to_if(field['datatype'] == 'url', field_value, field_value)
  .grid-row
    .column-two-thirds
      %p This is a record from the #{link_to @register.register_name, register_path(@register.slug)} register
      = content_for :javascript do
        :javascript
            var isInternalReferrer = document.referrer.indexOf(location.protocol + "//" + location.host) === 0;
            if (isInternalReferrer) {
              var backLink = document.createElement("a");
              backLink.setAttribute("href", "javascript:history.back()");
              backLink.setAttribute("class", "link-back");
              backLink.textContent = "Back";
              document.getElementById("link-back").appendChild(backLink);
            }

