- @page_title = 'Forgotten password | Admin'

%main#content.container{role:'main'}
  .grid-row
    .column-full
      - if flash[:alert].present?
        .error-summary= flash[:alert]
      %h1.heading-large Forgotten password
      = form_tag admin_password_resets_path do
        .form-group
          = label_tag :email, 'E-Mail', class: "form-label"
          = text_field_tag :email, params[:email], autofocus: true, class: "form-control"
        .form-group
          = button_tag 'Continue', class: 'button'
