= form_for @api_user do |f|
  = f.radio_button_fieldset :is_government, inline: true do |fieldset|
    - fieldset.radio_input :yes, panel_id: 'is_government_panel'
    - fieldset.radio_input :no, panel_id: 'not_government_panel'
  - f.revealing_panel :is_government_panel do |panel|
    = f.text_field :email_gov, type: 'email'
    = f.radio_button_fieldset :contactable, inline: true
  - f.revealing_panel :not_government_panel do |panel|
    = f.text_field :email_non_gov, type: 'email'

  .form-group
    = f.submit 'Create API key', class: 'button', 'data-link-name' => 'new_api_user_submit'

= content_for :javascript do
  :javascript
    var showHideContent = new GOVUK.ShowHideContent();
    showHideContent.init();

    var yesRadioButton = document.getElementById('api_user_is_government_yes');
    yesRadioButton.onclick = function() {
      // ga('send', 'event', 'Form', 'Radio - Yes', 'Do you work for government?');
      var nonGovEmail = document.getElementById('api_user_email_non_gov')
      nonGovEmail.value = "";
    }

    var noRadioButton = document.getElementById('api_user_is_government_no');
    noRadioButton.onclick = function() {
      // ga('send', 'event', 'Form', 'Radio - No', 'Do you work for government?');
      var govEmail = document.getElementById('api_user_email_gov')
      govEmail.value = "";
    }
