= form_for @api_user do |f|
  .form-group
    = f.label :email, class: 'form-label-bold' do
      Email address
      %span.form-hint Your API key will be sent to this email address
    = f.text_field :email, class: 'form-control', type: 'email', required: true

  .form-group
    %fieldset.inline
      %legend
        %label.form-label-bold
          Do you work for government?
      .multiple-choice{"data-target" => "government-department"}
        %input#work-for-government{name: "radio-org-group", type: "radio", value: "Yes"}
        %label{for: "work-for-government"} Yes
      .multiple-choice
        %input#not-work-for-government{name: "radio-org-group", type: "radio", value: "No"}
        %label{for: "not-work-for-government"} No
      #government-department.panel.panel-border-narrow.js-hidden
        = f.label :department, 'Government department', class: 'form-label'
        = f.select :department, @government_organisations.all.collect{ |org| [org.data['name'], org.key] }, { include_blank: true }, id: 'government-organisations'
  .form-group
    %fieldset.inline
      %legend
        %label.form-label-bold
          Are you using Registers in something you are building?
      .multiple-choice{"data-target" => "service"}
        %input#for-a-service{name: "radio-service-group", type: "radio", value: "Yes"}
        %label{for: "for-a-service"} Yes
      .multiple-choice
        %input#not-for-a-service{name: "radio-service-group", type: "radio", value: "No"}
        %label{for: "for-a-service"} No
      #service.panel.panel-border-narrow.js-hidden
        = f.label :service, 'What is is called?', class: 'form-label'
        = f.text_field :service, class: 'form-control'

  = f.submit 'Continue', class: 'button'

= content_for :javascript do
  :javascript
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.getElementById('government-organisations'),
      showAllValues: false,
      minLength: 2,
      defaultValue: ''
    });

    var showHideContent = new GOVUK.ShowHideContent();
    showHideContent.init();
