%nav{class: 'govuk-grid-column-one-third govuk-!-padding-bottom-7'}
  %ul.govuk-list
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'Creating a register', creating_a_register_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(creating_a_register_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Creating a register navigation', 'click-label' => 'In page navigation'}}
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'Decide if your data could be a register', decide_if_your_data_could_be_a_register_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(decide_if_your_data_could_be_a_register_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Creating a register navigation', 'click-label' => 'In page navigation'}}
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'Designing and shaping the register', designing_and_shaping_the_register_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(designing_and_shaping_the_register_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Creating a register navigation', 'click-label' => 'In page navigation'}}
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'Data cleansing and preparing the register', data_cleansing_and_preparing_the_register_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(data_cleansing_and_preparing_the_register_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Creating a register navigation', 'click-label' => 'In page navigation'}}
    %li{class: 'govuk-body-s registers-!-border-bottom govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2'}
      =link_to 'Publishing the register', publishing_the_register_path, {class: "registers-!-no-underline #{'govuk-!-font-weight-bold' if current_page?(publishing_the_register_path)}", data: { 'click-events' => '', 'click-category' => 'Navigation', 'click-action' => 'Link - Creating a register navigation', 'click-label' => 'In page navigation'}}
