%nav.sub-navigation
  %ol{itemscope: "", itemtype: "http://schema.org/ItemList"}
    %li{class: "sub-navigation__item #{'sub-navigation__item--active' if current_page?(roadmap_path)}", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "Roadmap", roadmap_path
    %li{class: "sub-navigation__item #{'sub-navigation__item--active' if current_page?(services_using_registers_path)}", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "Services using registers", services_using_registers_path
    %li{class: "sub-navigation__item #{'sub-navigation__item--active' if current_page?(avaliable_registers_path)}", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "Avaliable registers", avaliable_registers_path
    %li{class: "sub-navigation__item #{'sub-navigation__item--active' if current_page?(combining_registers_path)}", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "Combining registers", combining_registers_path
    %li{class: "sub-navigation__item #{'sub-navigation__item--active' if current_page?(case_study_path)}", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "Case Study: TISCReport", case_study_path
    %li{class: "sub-navigation__item #{'sub-navigation__item--active' if current_page?(new_register_path)}", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "Suggest a register", new_register_path
