- @page_title = "About registers"
= content_for :body_classes, 'about-page'

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'About', '#content', "aria-current" => "page"

.govuk-width-container
  %main#content{class: 'govuk-main-wrapper govuk-!-padding-bottom-9', role:'main'}
    .govuk-grid-row
      = render partial: 'pages/about__navigation'
      %section.govuk-grid-column-two-thirds
        %h2.govuk-heading-l A quick guide to registers
        %h3.govuk-heading-m What is a register?
        %p A GOV.UK register is a structured dataset of government information.
        %p Each register:
        %ul.govuk-list.govuk-list--bullet
          %li only contains data on a specific subject
          %li is kept up-to-date by a subject matter expert from the relevant government organisation
          %li shares a common API that supports JSON and CSV
        %p.govuk-inset-text= link_to 'Learn more about the characteristics of a register', characteristics_of_a_register_path, {class: 'govuk-!-font-weight-bold'}

        %h3.govuk-heading-m Who registers are for
        %h4.govuk-heading-s Government services
        %p For example, the #{link_to 'country register', register_path('country')} lists all countries recognised by the UK government. It is updated by a subject matter expert, called a custodian, at the Foreign and Commonwealth Office.
        %p GOV.UK Pay uses the country register and #{link_to 'territory register', register_path('territory')} register to populate a dropdown list when users enter their billing address.

        %figure{class: 'govuk-!-margin-bottom-6 registers-aspect-3:2'}
          = image_tag "country-picker.gif", class: 'aspect-inner'

        %p Services using registers can:
        %ul.govuk-list.govuk-list--bullet
          %li reduce the time and cost of sourcing data from across government
          %li receive data that is ready to use with no need for data cleansing
          %li be confident that their service is using the most up-to-date government data
        %p.govuk-inset-text= link_to 'Learn more about how registers help government services', how_registers_help_government_services_path, {class: 'govuk-!-font-weight-bold'}

        %h4.govuk-heading-s Data managers
        %p Registers can also help if you collect, manage or store data for your organisation.
        %p Data managers who create a register:
        %ul.govuk-list.govuk-list--bullet
          %li only need to publish data in one place – there’s no need to update multiple lists and datasets whenever something changes
          %li can easily share their data across government

        %h3.govuk-heading-m How to access a register
        %p All registers can be accessed and used freely by anyone.
        %p You can #{link_to 'use our API', 'https://docs.registers.service.gov.uk/api_reference/#api-reference'} to automatically pull data from a register into your service. This means you’ll always use the most recent version of the data in a register. You can also download a copy of each register.
        %p All registers are available as JSON or CSV.
        %p You can see all the registers that are ready to use in our #{link_to 'government registers collection', registers_path}.

        %h3.govuk-heading-m Who is using registers
        %p You can see which #{link_to 'government services', services_using_registers_path} are already using registers.
        %p You can also find out which #{link_to 'government organisations', registers_path(show_by: "organisation") }.  have created a register with their data.
