- @page_title = 'The characteristics of a register'

%nav.breadcrumbs{role: 'Navigation', 'aria-label' => 'Breadcrumb'}
  %ol{data: {'click-events' => '', 'click-category' => 'Header', 'click-action' => 'Breadcrumb Clicked'}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item.breadcrumbs__item
      = link_to 'About', about_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'The characteristics of a register', '#content', "aria-current" => "page"

.govuk-width-container
  %main#content{class: 'govuk-main-wrapper govuk-!-padding-bottom-9', role:'main'}
    .govuk-grid-row
      = render partial: 'pages/about__navigation'
      %section.govuk-grid-column-two-thirds
        %h2.govuk-heading-l The characteristics of a register
        %p.govuk-body A register is a structured dataset of government information. They are sometimes called ‘lookup tables‘.
        %p.govuk-body Each register only lists data on a specific subject, such as all the countries in the world.
        %p.govuk-body This table shows 5 rows and 2 columns of the #{link_to 'country register', register_path('country')}. This register contains the names of all countries currently recognised by the UK government.

        %table{class: 'govuk-table govuk-!-margin-bottom-7'}
          %caption.govuk-table__caption.visually-hidden First 5 rows and 2 columns of the country register.
          %thead.govuk-table__head
            %tr.govuk-table__row
              %th.govuk-table__header{ scope: "col"}
                Country
              %th.govuk-table__header{ scope: "col"}
                Name
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %td.govuk-table__cell AF
              %td.govuk-table__cell Afghanistan
            %tr.govuk-table__row
              %td.govuk-table__cell AL
              %td.govuk-table__cell Albania
            %tr.govuk-table__row
              %td.govuk-table__cell DZ
              %td.govuk-table__cell Algeria
            %tr.govuk-table__row
              %td.govuk-table__cell AD
              %td.govuk-table__cell Andorra
            %tr.govuk-table__row
              %td.govuk-table__cell AO
              %td.govuk-table__cell Angola
        %p.govuk-body Each column, called a ‘field’, is given a name. In this register, the ‘name’ field shows the names of the countries in alphabetical order. The ‘country’ field shows the unique code, known as the identifier, for that country.
        %p.govuk-body All registers use a unique identifier for each thing listed. The unique identifier will never change – even if the name of the thing changes, the identifier will stay the same. For example, Eswatini was previously called Swaziland but its unique identifier is still ‘SZ’.
        %p.govuk-body Registers also usually have ‘start date’ and ‘end date’ fields that contain the dates for when the thing existed. For example, East Germany was no longer recognised as a country by the UK government after December 1992, and Germany was first recognised as a country in January 1993.
        %table{class: 'govuk-table govuk-!-margin-bottom-7'}
          %caption.govuk-table__caption.visually-hidden Two example records with a start and an end date fields present.
          %thead.govuk-table__head
            %tr.govuk-table__row
              %th.govuk-table__header{ scope: "col"}
                Country
              %th.govuk-table__header{ scope: "col"}
                Name
              %th.govuk-table__header{ scope: "col"}
                Start date
              %th.govuk-table__header{ scope: "col"}
                End date
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %td.govuk-table__cell DD
              %td.govuk-table__cell East Germany
              %td.govuk-table__cell –
              %td.govuk-table__cell 1992-12-31
            %tr.govuk-table__row
              %td.govuk-table__cell DE
              %td.govuk-table__cell Germany
              %td.govuk-table__cell 1993-01-01
              %td.govuk-table__cell –
        %p.govuk-body Some registers have other fields that show related information. For example, the #{link_to 'country register', register_path('country')} has a field called 'citizen names' which shows the name given to a country's citizens.

        %h3.govuk-heading-m Raw data
        %p.govuk-body All the data held in a register is raw data. In other words, it is factual and free from analysis – it is not statistical data. The data in a register must be data that the #{link_to 'named owner of the register', designing_and_shaping_the_register_path(anchor: 'the-custodian')} can control.
        %h3.govuk-heading-m One register for each subject
        %p.govuk-body Registers are ‘canonical’. This means there’s only one register within government for each specific subject. This helps to ensure that a register does not contain more data than is absolutely necessary. In turn, this means that a register does not duplicate data that is found in another register. Instead, registers #{link_to 'link to each other', designing_and_shaping_the_register_path(anchor: 'link-to-other-registers')}.

        %h3.govuk-heading-m History of changes
        %p.govuk-body A register does not simply store data that’s correct at that moment in time, as you might find in a database. Instead, a register has a #{link_to 'full history of changes', "#{register_path('country')}/updates"} that anyone can see. Data is never removed from a register – it is only ever amended or marked as out of date.
        %p.govuk-body This transparency helps to ensure the integrity of the data in a register. It also means you can reference previous versions of the data – for example, if you need to show how to reproduce results in a report from a particular point in time.

        %h3.govuk-heading-m Live data available via an API
        %p.govuk-body You may find that the data in a register is also published in an online document – but this is not the same thing as a register. The data in a published document can quickly become out of date. The web address of that document may also change over time.
        %p.govuk-body A register is a live dataset which contains useable data that can change and evolve over time – but the web address of a register will always stay the same.
        %p.govuk-body All registers share a common API. This means you can automatically pull the most up-to-date data from a register into your service in JSON format.
        %p.govuk-body You can also download a copy of each register in CSV and ODS formats.

        %h3.govuk-heading-m A named owner
        %p.govuk-body Unlike most datasets, each register has a named owner called a ‘custodian’. The custodian is a subject matter expert from the relevant government organisation. For example, the custodian of the Jobcentre register is from the Department for Work and Pensions. They are responsible for keeping the register up-to-date and for the overall quality of the data. This means the data in a register has been approved for use at its source.
