- @page_title = 'Data cleansing and preparing the register'

%nav.breadcrumbs{role: 'Navigation', 'aria-label' => 'Breadcrumb'}
  %ol{data: {'click-events' => '', 'click-category' => 'Header', 'click-action' => 'Breadcrumb Clicked'}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Creating a register', creating_a_register_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Data cleansing and preparing the register', '#content', "aria-current" => "page"

.govuk-width-container
  %main#content{class: 'govuk-main-wrapper govuk-!-padding-bottom-9', role:'main'}
    .govuk-grid-row
      = render partial: 'pages/creating_a_register__navigation'
      %section.govuk-grid-column-two-thirds
        %h2.govuk-heading-l Data cleansing and preparing the register
        %p.govuk-body This section suggests some ways that you can improve the quality of your data before submitting it to the GOV.UK Registers team.

        %h3.govuk-heading-m Compare your data with similar lists elsewhere
        %p.govuk-body Often there are several similar lists available on the same topic. For example, there are many different lists of countries. It is a good idea to search for these lists, compare them with your own, and explain any differences.

        %h3.govuk-heading-m Remove duplicates
        %p.govuk-body Nothing should appear in your register more than once. Duplicates that are exactly the same are easy to find and remove. Duplicates that are subtly different, like spelling the name differently, are more difficult to find. For example, a list of government departments might include 'Department for Education' and 'Department of Education'.

        %h3.govuk-heading-m Fill any blanks
        %p.govuk-body The register will become the definitive version of your data so it is a good opportunity to fill in any blanks or unknowns. It is okay to have blanks if the information is really not available. The meaning of a blank value in a register is 'unknown' and all users must expect to deal with blanks.

        %h3.govuk-heading-m Use the government’s open standard for dates
        %p.govuk-body There is an #{link_to 'open standard', 'https://www.gov.uk/government/publications/open-standards-for-government/date-times-and-time-stamps-standard'} for the way dates are recorded. This applies to registers because machine readability is the main concern.
        %p.govuk-body The following examples meet the standard although other forms may also meet the standard:
        %ul.govuk-list.govuk-list--bullet
          %li 2018
          %li 2018-01
          %li 2018-01-14
          %li 2018-01-14T09Z
          %li 2018-01-14T09:22Z
          %li 2018-01-14T09:22:55Z
          %li 2018-01-14T09:22:55.3Z

        %p.govuk-body The following forms do not meet the standard:
        %ul.govuk-list.govuk-list--bullet
          %li November 1846
          %li 2017/18
          %li 2010 fiscal year
          %li 1842, rebuilt 1854

        %h3.govuk-heading-m Look up geographic areas in the register of geographic codes
        %p.govuk-body Registers are not yet able to include geographical boundaries. Instead, you can refer to an administrative area by looking up its unique code in the #{link_to 'Register of Geographic Codes', 'http://geoportal.statistics.gov.uk/datasets?q=geographic%20codes'} published by the Office for National Statistics. Several sets of codes have been made into registers, include the codes for all the local authority boundaries. These registers are all called ‘Statistical geography&hellip;’, for example #{link_to 'Statistical geography for non-metropolitan districts in England register', register_path('statistical-geography-non-metropolitan-district-eng')}.

        %h3.govuk-heading-m Reconsider paragraphs of text
        %p.govuk-body Registers do not usually include whole paragraphs of text because the information in them is either poor quality or would be more useful if pulled out into separate fields.
        %p.govuk-body Sometimes text is definitive and is okay to go into a register. For example, the Digital, Data and Technology Profession Capability Framework skill register includes text defining what knowledge of ‘Agile and lean practices‘ entails. The following text would be suitable for a register:
        %p.govuk-inset-text ‘Has a deep knowledge of, and leads on, a range of Agile and Lean tools and techniques, with an ability to coach within and outside of their team. Able to represent and be an advocate for these tools and techniques, be innovative and ensure they keep up to date with the latest trends.‘
        %p.govuk-body A counter-example is this paragraph of text that gives context about the existence of a public body. It is informational rather than definitive, so should not be in a register:
        %p.govuk-inset-text ‘The Advisory Committee on Pesticides provided independent scientific advice to ministers and governments on the authorisation of pesticides in the UK and on matters related to the control of pests. It was succeeded by the UK Expert Committee on Pesticides (ECP) which was established on 27 March 2015 under the Public Bodies Order 2015.’
        %p.govuk-body Some of that information would be better pulled out into separate fields. For example, the sentence about the ECP could be expressed in a field 'successor organisation' by simply naming the ECP.

        %h3.govuk-heading-m Remove acronyms
        %p.govuk-body No register so far has an ‘acronym’ field because we have never seen a definitive acronym. All the acronyms we have seen are colloquial but we would not rule them out. If you think you are the custodian of a set of acronyms, then include them in the draft register.
        %p.govuk-body The closest match to an acronym that exists in a register is the ‘name’ and ‘official name’ fields of some registers of local authorities. In these cases, the ‘official name’ is the name used in legislation whilst the ‘name’ is the one used by the local authority on its own website and other publications. Custodians that have oversight of both kinds of names have included them both in their registers.
        %p.govuk-body An acronym can be included if it’s part of a name – for example, ‘HMP Guys Marsh’ is the official name of a prison.

        %h3.govuk-heading-m#flatten-hierarchies Flatten hierarchies
        %p.govuk-body A hierarchy is when one thing ‘belongs’ to another thing in the same set. For example, ‘allergens’ are a hierarchy, where a specific allergen like ‘walnut’ belongs to a less specific group of allergens called ‘nuts’.

        %p{class: 'govuk-heading-s govuk-!-margin-bottom-1'} Nuts
        %ul{class: 'govuk-list govuk-list--bullet govuk-!-margin-bottom-0'}
          %li Walnut
          %li Almond
        %p{class: 'govuk-heading-s govuk-!-margin-bottom-4 govuk-!-margin-top-4'} Milk
        %p{class: 'govuk-heading-s govuk-!-margin-bottom-1'} Gluten
        %ul.govuk-list.govuk-list--bullet
          %li Wheat
          %li Oats
          %li Barley
        %p.govuk-body Every item in the hierarchy is represented by a row in the same register. Using the ‘parent’ field, you can find the next level up in the hierarchy from any allergen. Allergens at the top of the hierarchy don’t have parents – in this case, nuts, milk and gluten.
        %table{class: 'govuk-table govuk-!-margin-bottom-7'}
          %caption.govuk-table__caption.visually-hidden Two example records with a start and an end date fields present.
          %thead.govuk-table__head
            %tr.govuk-table__row
              %th.govuk-table__header{ scope: "col"}
                Unique identifier/code
              %th.govuk-table__header{ scope: "col"}
                Name
              %th.govuk-table__header{ scope: "col"}
                Parent
          %tbody.govuk-table__body
            %tr.govuk-table__row
              %td.govuk-table__cell 4
              %td.govuk-table__cell Walnut
              %td.govuk-table__cell 1
            %tr.govuk-table__row
              %td.govuk-table__cell 5
              %td.govuk-table__cell Almond
              %td.govuk-table__cell 1
            %tr.govuk-table__row
              %td.govuk-table__cell 1
              %td.govuk-table__cell Nuts
              %td.govuk-table__cell -
            %tr.govuk-table__row
              %td.govuk-table__cell 3
              %td.govuk-table__cell Milk
              %td.govuk-table__cell -
            %tr.govuk-table__row
              %td.govuk-table__cell 2
              %td.govuk-table__cell Wheat
              %td.govuk-table__cell 6
            %tr.govuk-table__row
              %td.govuk-table__cell 6
              %td.govuk-table__cell Gluten
              %td.govuk-table__cell -
            %tr.govuk-table__row
              %td.govuk-table__cell 8
              %td.govuk-table__cell Barley
              %td.govuk-table__cell 6
            %tr.govuk-table__row
              %td.govuk-table__cell 7
              %td.govuk-table__cell Oats
              %td.govuk-table__cell 6

        %p.govuk-body The actual #{link_to 'allergen register', register_path('allergen')} calls the parent field ‘allergen-group’, but new registers should use the generic name, ‘parent’.

        %p.govuk-body Sometimes the unique identifier shows a record’s position in a hierarchy. For example, the Standard Industrial Classification (SIC) code might be ‘A01.62/1’, where:
        %ul.govuk-list.govuk-list--bullet
          %li ‘A’ is the code for the top of the hierarchy – ‘Agriculture, forestry and fishing’
          %li ‘A01’ is the next level down – ‘Crop and animal production, hunting and related service activities’
          %li ‘A01.6’ is the level below that – ‘Support activities to agriculture and post-harvest crop activities’
          %li ‘A01.62’ is the level below that – ‘Support activities for animal production’
          %li ‘A01.62/1’ is the bottom level – ‘Farm animal boarding and care’
        %p.govuk-body Unless such a system of unique identifiers, or codes, is already widely used, it is best avoided. Under this system, if a node is moved to another branch (for example, to correct a mistake), its unique identifier must either also change or else become misleading.