- @page_title = 'Decide if your data could be a register'

%nav.breadcrumbs{role: 'Navigation', 'aria-label' => 'Breadcrumb'}
  %ol{data: {'click-events' => '', 'click-category' => 'Header', 'click-action' => 'Breadcrumb Clicked'}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Creating a register', creating_a_register_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Decide if your data could be a register', '#content', "aria-current" => "page"

.govuk-width-container
  %main#content{class: 'govuk-main-wrapper govuk-!-padding-bottom-9', role:'main'}
    .govuk-grid-row
      = render partial: 'pages/creating_a_register__navigation'
      %section.govuk-grid-column-two-thirds
        %h2.govuk-heading-l Decide if your data could be a register

        %h3.govuk-heading-m Is your data a list of things?
        %p.govuk-body Registers identify things. If your data is a list of things, such as a list of police stations, then it could be a register. If your data is something else, such as a set of crime statistics for each police station, then it should not be a register – but it might refer to things that are in a register.

        %h3.govuk-heading-m Do you control the things in your data?
        %p.govuk-body Services depend on registers because they are the most correct, up-to-date sources of information. If you control the things in your data, then you can guarantee that your data is correct and up to date – and services can depend on you and your register.
        %p.govuk-body You could be a register custodian if:
        %ul.govuk-list.govuk-list--bullet
          %li you always know when a new thing is created, or an old one no longer exists – for example, local authorities cannot be created or merged without the custodian of the #{link_to 'local authorities in England register', register_path('local-authority-eng')} knowing
          %li nothing else in your data can change without you knowing – for example, the custodian of the local authorities in England register keeps track of the websites of each local authority, but they are not necessarily informed when the websites are changed, so this information is not included in the register
          %li nobody else publishes similar data – for example, both the Office for National Statistics and Companies House publish lists of Standard Industrial Classification (SIC) codes, but only one list can be the authoritative list
        %p.govuk-body Sometimes there is no single person who knows about all changes in a register but who is still responsible. For example, although the Department for Education is responsible for a list of schools, the information about the schools is updated by the schools themselves. This can be made into a register.

        %h3.govuk-heading-m Registers can be any size
        %p.govuk-body The smallest register could identify a single thing. One of the smallest registers so far is the #{link_to 'Jobcentre group register', register_path('jobcentre-group')}, which has seven records.
        %p.govuk-body Registers can also be very large. One of the largest registers is the #{link_to 'gov.uk domain names register', register_path('government-domain')}, which includes all government domains that use the gov.uk domain and has about 3000 rows.

        %h3.govuk-heading-m Provide us with the underlying dataset
        %p.govuk-body Whatever form the data currently has, it can be made into a register. It might be a spreadsheet, a CSV file, a web page, a database, a PDF document, or a physical book.
        %p.govuk-body Registers do not have a particular file format. Users can #{link_to 'access the data in registers via the API', 'https://docs.registers.service.gov.uk/#api-documentation-for-registers'} as JSON and CSV. They can also download it in as CSV or ODI, which is compatible with Excel.
        %p.govuk-body To submit your data to be made into a register it is best to supply it in one or more CSV files #{link_to 'conforming to RFC4180', 'https://tools.ietf.org/html/rfc4180'}. In short, this means there should be a single header row and one row for each thing in the register, such as one row per country in the country register. If this is not possible, the GOV.UK Registers team can accept data in other formats, such as spreadsheet files, text files, websites, or database extracts. For large datasets, PDF files should be avoided due to the difficulty of extracting data from them.

        %h3.govuk-heading-m Are all the things in your data the same kind of thing?
        %p.govuk-body Registers need to be both comprehensive and consistent, otherwise it is difficult for services to use them. For example, a service that directs users to their nearest police station needs a list of police stations that are open to the public. A list of police stations that included training facilities and equipment depots would be less useful.
        %p.govuk-body If your data includes things of different types, you could still create registers.
