- @page_title = 'Designing and shaping the register'

%nav.breadcrumbs{role: 'Navigation', 'aria-label' => 'Breadcrumb'}
  %ol{data: {'click-events' => '', 'click-category' => 'Header', 'click-action' => 'Breadcrumb Clicked'}}
    %li.breadcrumbs__item
      = link_to 'GOV.UK Registers', root_path
    %li.breadcrumbs__item
      = link_to 'Creating a register', creating_a_register_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to 'Designing and shaping the register', '#content', "aria-current" => "page"

.govuk-width-container
  %main#content{class: 'govuk-main-wrapper govuk-!-padding-bottom-9', role:'main'}
    .govuk-grid-row
      = render partial: 'pages/creating_a_register__navigation'
      %section.govuk-grid-column-two-thirds
        %h2.govuk-heading-l Designing and shaping the register
        %p.govuk-body Once the GOV.UK Registers team has reviewed and approved a register suggestion, and the dataset has been received, we will work with the relevant government organisation to design and shape the register.

        %h2.govuk-heading-m Decide who is responsible for your register
        %p.govuk-body The GOV.UK Registers team and the relevant government organisation will agree who is best placed to be the custodian of the register. This will help to ensure there is clear authority for the data in the register.

        %h3.govuk-heading-s#the-custodian The custodian
        %p.govuk-body Each register has a custodian, or named owner. A custodian is a subject matter expert from the relevant government organisation. They are responsible for maintaining the data in a register.
        %p.govuk-body A custodian will:
        %ul.govuk-list.govuk-list--bullet
          %li ensure the data in a register is up-to-date and accurate
          %li provide updates to the register
          %li respond to user queries and feedback

        %p.govuk-body Although the GOV.UK Registers team can help to create and update a register, it is the custodian who controls the data.

        %h3.govuk-heading-s The Senior Information Risk Owner (SIRO)
        %p.govuk-body The Senior Information Risk Owner (SIRO) will also be identified. This is usually someone senior to the custodian who is able sign-off on the data in the register on behalf of the government organisation.

        %h2.govuk-heading-m Decide what your register contains
        %p.govuk-body You should be able to complete the sentence, 'Each row of this register represents one X'. For example:
        %ul.govuk-list.govuk-list--bullet
          %li each row of the #{link_to 'country register', register_path('country')} represents one country
          %li each row of the #{link_to 'prison estate register', register_path('prison-estate')} represents one prison, or a group of prisons that are managed together
        %p.govuk-body Sometimes it is not obvious what one row should represent. For example, should a list of Citizens Advice Bureaux include libraries and other places where advice is provided on certain days of the month? Or should it only include the offices of Citizens Advice? In a list of food allergens, should ‘almond’ and ‘nut’ be in separate rows or separate registers?
        %p.govuk-body You can resolve this kind of question by:
        %ul.govuk-list.govuk-list--bullet
          %li making a single register for one type of thing and leaving out any other type of thing - for example, you could make a register of offices of Citizens Advice, excluding any other locations where Citizens Advice is available to the public, such as libraries
          %li creating separate registers for different types of things - for example, one register of offices of Citizens Advice, and a separate register of locations where Citizens Advice is available to the public
          %li making a single register that includes all types of things (offices and other locations), with a field to indicate what type of thing it is - for example, one register of Citizens Advice locations with a 'type' field to say whether each location is an 'office' or 'outreach'
          %li making a single register that includes things of all #{link_to 'levels in a hierarchy', data_cleansing_and_preparing_the_register_path(anchor: 'flatten-hierarchies')}, where each level points to its parent - for example, in a register of food allergens the row for 'almond' points to its parent in another row called 'nut'

        %h2.govuk-heading-m Decide what the register will be called
        %p.govuk-body Each register has:
        %ul.govuk-list.govuk-list--bullet
          %li a user-friendly name and description
          %li field descriptions to let users know what each field contains
          %li a meta description for search engine optimisation
        %p.govuk-body We will work with the custodian of the register to create each of these.

        %h2.govuk-heading-m Choose a unique identifier for each thing in the register
        %p.govuk-body The unique identifier is the most important part of the register. The unique identifier defines a single, clear way for users to refer to something. For example, 'GB' is a single, clear way for users to refer to the United Kingdom. If all the data in government used that identifier, it would be easy to combine datasets about the United Kingdom without having to allow for some users writing 'United Kingdom', 'The United Kingdom', 'The UK', 'UK', or even 'The United Kingdom of Great Britain and Northern Ireland'.
        %p.govuk-body A good way to choose a unique identifier is to give everything a number, starting with 1 and counting upwards to 2, 3, 4, etc. Not all registers follow this pattern. For example, the #{link_to 'country register', register_path('country')} uses the two-letter codes defined by the International Organisation for Standardisation (ISO) because those codes are already widely used.
        %p.govuk-body If there is already a widely used unique identifier, or code, for the things in your register, then it is reasonable to use it as the unique identifier in the register too.
        %p.govuk-body This can be a disadvantage:
        %ul.govuk-list.govuk-list--bullet
          %li if the existing identifiers are not controlled by you, as they could change without you being aware - this is unlikely but worth considering
          %li if the existing identifiers are meaningful in some way - for example, the identifier for the country Eswatini is 'SZ' which made sense when the name of the country was 'Swaziland' but is now confusing

        %h2.govuk-heading-m Decide what the ‘start date’ and ‘end date’ fields mean
        %p.govuk-body Most registers have the fields ‘start date’ and ‘end date’. These are used to say when a thing existed. For example, in the #{link_to 'country register', register_path('country')}  the ‘start date’ is the date that a country was first recognised by the UK government, and the ‘end date’ is the date it was no longer recognised as a country.
        %p.govuk-body Most things in your register will probably have a blank ‘end date’ to begin with because they currently exist. As time passes and some of the things cease to exist, you will put the date that they ceased to exist in the ‘end date’ field. For example, when the Herne Bay Jobcentre was closed, '2018-03-09' was put into the ‘end date’ field in the #{link_to 'Jobcentre register', register_path('jobcentre')}.
        %p.govuk-body Sometimes it is not obvious what the ‘start date’ and ‘end date’ should mean. For example, should the ‘start date’ of a school be the date that it was founded (which might be centuries ago) or the date that it was registered with the government? This decision is up to you but it must be applied consistently.

        %h2.govuk-heading-m Decide what fields to include
        %p.govuk-body Your register will have a field for the unique identifier, a 'name' field, and almost certainly the fields 'start date' and 'end date'. Many registers have no other fields, and most registers tend to have few other fields. The register with the most fields so far has only 7.

        %h3.govuk-heading-s Only include what you control
        %p.govuk-body The custodians of the various registers of local authorities have information about the local authorities that is not included in their registers, such as websites and phone numbers. That information is not included in the registers because the custodian does not control it. Although the custodian has it now, it could change without them knowing. Users of registers should be able to depend on all of the information in the register being up to date all of the time.

        %h3.govuk-heading-s Only include what users need
        %p.govuk-body If users do not need all the information in a register, the time and money spent maintaining it is wasted.

        %h3.govuk-heading-s Do not include statistics
        %p.govuk-body Information that is derived from other data should not be included. For example, a list of schools in England might include both the total capacity of the school, as well as the number of pupils currently enrolled. The capacity can be included in a register because it is definitive. The number of pupils currently enrolled should not be included in a register because it is a calculated number based on external information.

        %h3.govuk-heading-s Be consistent with other registers
        %p.govuk-body Your register might include fields that are similar to other registers, such as ‘address’, ‘website’ and ‘official name’. You should design your versions of those fields to be consistent with existing registers.

        %h2.govuk-heading-m Decide whether to include historical data
        %p.govuk-body Some users need historical data. For example, when a user submits their country of birth to an online form, they may need to choose a country that no longer exists, such as East Germany.
        %p.govuk-body Historical data can be included in a register by using the 'end date' field. For example, in the #{link_to 'country register', register_path('country')} East Germany has an end date of '1992-12-31' to show that it has not been recognised as a country since 31 December 1992.
        %p.govuk-body It is up to you how far back in history you go. There is no need for you to research information that you do not already hold. Users might request that you add more historical information and that is okay as it can be added later.
        %p.govuk-body You do not need to complete information to add a historical entry. For example, the ‘start date’ of East Germany in the country register has been left blank to mean 'unknown'. That information could probably be researched but it was not thought worthwhile.

        %h2.govuk-heading-m#link-to-other-registers Link to other registers
        %p.govuk-body If your data refers to things that already exist in other registers, then refer to them by their unique identifiers.
        %p.govuk-body For example, the #{link_to 'gov.uk domain names register', register_path('government-domain')} is a list of government websites that use the gov.uk domain. The website shepway.gov.uk is a website run by Shepway District Council, so the 'organisation' field in this register has the value 'local-authority-eng:SHE' to refer to Shepway District Council in the #{link_to 'local authorities in England register', register_path('local-authority-eng')}.
        %p.govuk-body Linking in this way can be of benefit because you no longer need to keep abreast of changes to the things your data refers to. In the example above, the name of Shepway District Council has since been changed to ‘Folkestone & Hythe Council’. If the #{link_to 'gov.uk domain names register', register_path('government-domain')} had referred to the name of the council as ‘Shepway’, rather than the unique identifier, ‘SHE’, the data would now be out of date. It would also be difficult for users to find out more information about the council. However, because the unique identifier was used, the users can easily find the current name, ‘Folkestone & Hythe’, and any other relevant information.
        %p.govuk-body To refer to something in another register, use the name of the register taken from its URL, then a colon, then the unique identifier of the thing being referred to.
        .govuk-inset-text
          %p.govuk-body For example, the URL of the local authorities in England register is: https://www.registers.service.gov.uk/registers/local-authority-eng
          %p{class: 'govuk-body govuk-!-margin-bottom-0'} Its name is therefore:
          %code.code-highlighted local-authority-eng
          %p.govuk-body The unique identifier for Allerdale Borough Council in that register is ‘ALL’.
          %p{class: 'govuk-body govuk-!-margin-bottom-0'} The complete reference is then:
          %code.code-highlighted local-authority-eng:ALL

        %h2.govuk-heading-m Link to other dependable data sources
        %p.govuk-body If your data refers to things that are listed in other dependable sources of data, such as companies known to Companies House, or charities known to the Charities Commission, refer to them by the unique identifiers in those sources – in other words, by their company number or charity number. Another example is #{link_to 'legislation', 'https://www.legislation.gov.uk/'}.