= content_for :body_classes, 'home-page'

%main{role:'main'}
  .masthead
    %nav.breadcrumbs.breadcrumbs--inverse{"aria-label" => "Breadcrumb"}
      %ol
        %li.breadcrumbs__item
          = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
        %li.breadcrumbs__item.breadcrumbs__item--active
          = link_to 'GOV.UK Registers', '#content', "aria-current" => "page"

    .hero.hero--breaded
      .hero__content
        .hero__body
          %h1.hero__title Build your service with government data you can&nbsp;trust
          .hero__inline-image
            = image_tag "registers-top-image.png", role: "presentation"
          %p.hero__description
            GOV.UK Registers helps government design and build services on a consistent and high quality data infrastructure via our secure API.

          = link_to 'Learn more', about_path, class: 'button hero-button', role: 'button'
        .hero__aside-image
          = image_tag "registers-top-image.png", role: "presentation"

  .govuk-width-container
    %section.govuk-main-wrapper
      %h2{class: 'govuk-heading-m govuk-!-margin-bottom-0'} Government registers collection
      %p Registers are managed and approved by government and ready to use in your service.
      -# %code= @register_theme.inspect
      = render partial: 'layouts/themes'
    %aside{class: 'govuk-!-padding-bottom-9'}
      = render partial: 'layouts/registers-in-numbers'

= content_for :javascript do
  :javascript
    var heroButton = document.querySelector('.hero-button');
    heroButton.onclick = function() {
      ga('send', 'pageview', '/get-started');
    }
