- @page_title = 'Home'
= content_for :body_classes, 'home-page'

%main{role:'main'}
  .masthead
    %nav.breadcrumbs.breadcrumbs--inverse{"aria-label" => "Breadcrumb"}
      %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
        %li.breadcrumbs__item
          = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
        %li.breadcrumbs__item.breadcrumbs__item--active
          = link_to 'GOV.UK Registers', '#content', "aria-current" => "page"

    .hero.hero--breaded
      .hero__content
        .hero__body
          %h1.hero__title Build services using accurate data
          .hero__inline-image
            = image_tag "registers-top-image.png", role: "presentation"
          %p.hero__description
            Registers make sure that services across government are using the same approved versions of data.

          = link_to 'Get data for your service', registers_path, class: 'button hero-button', role: 'button'
        .hero__aside-image
          = image_tag "registers-top-image.png", role: "presentation"

  .container#content
    %section.content-section
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title Accurate, consistent and approved data
          %p Registers are live lists of data. Each register is managed and approved by government.
          %p For example, the #{link_to 'country register', '/registers/country'} is the official list of all countries recognised by the UK government. It is managed by a custodian in the Foreign and Commonwealth Office.
        .column-one-half
          = image_tag 'country-register.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title Using registers
          %p You can use registers to create features for your service. The UK government and Parliament petitions service uses the country register to help users choose their country from a drop-down menu, for instance.
          %p= link_to 'See how your service can use registers', using_registers_path
        .column-one-half
          = image_tag 'get-records.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title Why your service should use registers
          %p Your service can benefit from using registers because they’re:
          %ul.list.list-bullet
            %li accurate – you can trust the data and it’s updated for you
            %li consistent – all services use the same data
            %li approved – it’s the government’s official data
          %p= link_to 'See all the data you can use', registers_path

        .column-one-half
          = image_tag 'get-data.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        .column-full
          %h2.heading-medium.content-section__title Registers in numbers
      .grid-row
        .column-one-third
          .data
            = link_to registers_path do
              %span.data-item.bold-xxlarge= @ready_registers.count
              %span.data-item.bold-xsmall registers you can use
        .column-one-third
          .data
            = link_to registers_in_progress_path do
              %span.data-item.bold-xxlarge= @upcoming_registers.count
              %span.data-item.bold-xsmall upcoming registers
        .column-one-third
          .data
            = link_to services_using_registers_path do
              %span.data-item.bold-xxlarge 13
              %span.data-item.bold-xsmall government services using registers

    %section.content-section.content-section--with-top-border
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title Combining registers
          %p You can easily combine data from more than one register. This can be useful if you need data from different organisations.
          %p For example, you might use data from the #{link_to 'country register', '/registers/country'} as well as the #{link_to 'territory register', '/registers/territory'} to build a feature that allows your users to find their location.
          %p= link_to 'Read more about combining registers', combining_registers_path

        .column-one-half
          = image_tag 'combined-registers.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title The team
          %p GOV.UK Registers is built and supported by a full-time team at the Government Digital Service.
          %p #{link_to "Contact the team", support_path} if you have any questions.
        .column-one-half
          = image_tag 'registers-team.png', class: 'image'
