= content_for :body_classes, 'home-page'

%main{role:'main'}
  .masthead
    %nav.breadcrumbs.breadcrumbs--inverse{"aria-label" => "Breadcrumb"}
      %ol
        %li.breadcrumbs__item
          = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
        %li.breadcrumbs__item.breadcrumbs__item--active
          = link_to 'GOV.UK Registers', '#content', "aria-current" => "page"

    .hero.hero--breaded
      .hero__content
        .hero__body
          %h1.hero__title Build your service with government data you can&nbsp;trust
          .hero__inline-image
            = image_tag "registers-top-image.png", role: "presentation"
          %p.hero__description
            GOV.UK Registers helps government design and build services on a consistent and high quality data infrastructure via our secure API.

          = link_to 'Get started', registers_path, class: 'button hero-button', role: 'button'
        .hero__aside-image
          = image_tag "registers-top-image.png", role: "presentation"

  .container#content
    %section.content-section
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title What is a register?
          %p A register is a list of information that is managed and approved by government.
          %p For example, the country register lists all countries recognised by the Foreign and Commonwealth Office.
          %p You can use registers to build your service.
          %p The UK Parliament petitions service uses the country register to help users select their country from a dropdown menu, for instance.
        .column-one-half
          = image_tag 'get-data.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title Trusted by government services
          %p By using registers you can: 
          %ul.list.list-bullet
            %li reduce the time and cost of sourcing data from across government
            %li be confident that your service is using the most up&#8209;to&#8209;date government data 
            %li receive data that is ready to use with no need for data cleansing

        .column-one-half
          = image_tag 'country-register.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        %h2.heading-medium.content-section__title.column-full Registers in numbers
        .column-one-third
          .data
            = link_to registers_path do
              %span.data-item.bold-xxlarge= @ready_registers.count
              %span.data-item.bold-small registers available
        .column-one-third
          .data
            = link_to registers_path do
              %span.data-item.bold-xxlarge= @organisation_count
              %span.data-item.bold-small government organisations providing&nbsp;registers
        .column-one-third
          .data
            = link_to services_using_registers_path do
              %span.data-item.bold-xxlarge 13
              %span.data-item.bold-small services using registers

= content_for :javascript do
  :javascript
    var heroButton = document.querySelector('.hero-button');
    heroButton.onclick = function() {
      ga('send', 'pageview', '/get-started');
    }
