- @page_title = 'Home'
= content_for :body_classes, 'home-page'

%main{role:'main'}
  .masthead
    %nav.breadcrumbs.breadcrumbs--inverse{"aria-label" => "Breadcrumb"}
      %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
        %li.breadcrumbs__item
          = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
        %li.breadcrumbs__item.breadcrumbs__item--active
          = link_to 'GOV.UK Registers', '#content', "aria-current" => "page"

    .hero.hero--breaded
      .hero__content
        .hero__body
          %h1.hero__title Build services using accurate data
          .hero__inline-image
            = image_tag "registers-top-image.png", role: "presentation"
          %p.hero__description
            Registers make sure that services across government are using the approved versions of data.
        .hero__aside-image
          = image_tag "registers-top-image.png", role: "presentation"

  .container#content
    .grid-row
      .column-two-thirds
        %section.content-section
          %h2.heading-medium.content-section__title Accurate, consistent and managed by custodians
          %p Registers are live lists of data, each managed by a custodian from within government. They represent the government’s approved version of that data.

          %p For example, the #{link_to 'country register', '/registers/country'}  is managed by the Foreign and Commonwealth Office. It’s the official list of all the countries in the world that the UK government recognises.

          %p Government services benefit from using registers because they’re:
          %ul.list.list-bullet
            %li accurate – you can trust the data
            %li consistent – all services are using the same data
            %li updated for you – you can focus on your service rather than the accuracy of the data you’re using

          %p You can #{link_to 'see all the registers available to use', registers_path(phase: 'ready to use')} or #{link_to 'check the roadmap', roadmap_path} to see new registers we’re working on.

        %section.content-section.content-section--with-top-border
          %h2.heading-medium.content-section__title Registers in numbers
          .grid-row
            .column-one-third
              .data
                = link_to registers_path(phase: 'ready to use') do
                  %span.data-item.bold-xxlarge= @registers.where(register_phase: 'Beta').count
                  %span.data-item.bold-xsmall Registers ready for use
            .column-one-third
              .data
                = link_to registers_path(phase: 'in progress') do
                  %span.data-item.bold-xxlarge= @registers.where.not(register_phase: 'Beta').count
                  %span.data-item.bold-xsmall Registers in progress
            .column-one-third
              .data
                = link_to services_using_registers_path do
                  %span.data-item.bold-xxlarge 10
                  %span.data-item.bold-xsmall Government services using registers

        %section.content-section.content-section--with-top-border
          %h2.heading-medium.content-section__title Create or request a new register

          %p Contact the GOV.UK Registers team to:

          %ul.list.list-bullet
            %li suggest yourself as the custodian for a new register
            %li request a register that your service needs

          %p The data will need to meet #{link_to 'the criteria needed to become a register', 'https://www.gov.uk/guidance/creating-a-register', target: :blank, rel: 'noopener noreferrer'}.

        %section.content-section.content-section--with-top-border
          %h2.heading-medium.content-section__title The team

          %p GOV.UK Registers is built and supported by a full-time team at the Government Digital Service.
          %p
            = mail_to "registers@digital.cabinet-office.gov.uk", "Contact the team"
            /-
            if you have any questions.

      .column-one-third
        %aside.related-items
          %h2.related-items__title Registers ready to use
          %ul.related-items__list
            - @beta_registers.reject{ |r| %w{register datatype field}.include?(r.name.parameterize)}.each do |register|
              %li= link_to register.name, "/registers/#{register.name.parameterize}"
          %h2.related-items__title Upcoming registers
          %ul.related-items__list
            %li
              = link_to "View all registers in progress", registers_path(phase: 'in progress')
          %h2.related-items__title Suggest a register
          %ul.related-items__list
            %li
              = link_to "Find out more", new_register_path
