= content_for :body_classes, 'home-page'

%main{role:'main'}
  .masthead
    %nav.breadcrumbs.breadcrumbs--inverse{"aria-label" => "Breadcrumb"}
      %ol
        %li.breadcrumbs__item
          = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
        %li.breadcrumbs__item.breadcrumbs__item--active
          = link_to 'GOV.UK Registers', '#content', "aria-current" => "page"

    .hero.hero--breaded
      .hero__content
        .hero__body
          %h1.hero__title Build your government service with data you can&nbsp;trust
          .hero__inline-image
            = image_tag "registers-top-image.png", role: "presentation"
          %p.hero__description
            GOV.UK Registers helps government design and build services on a consistent and high quality data infrastructure via our secure API.

          = link_to 'Learn more', about_path, class: 'button hero-button', role: 'button'
        .hero__aside-image
          = image_tag "registers-top-image.png", role: "presentation"

  .govuk-width-container
    %section.govuk-main-wrapper
      %h2{class: 'govuk-heading-m govuk-!-margin-bottom-0'} Government registers collection
      %p Search all the registers that are ready to use in your government service.
      = render partial: 'layouts/categories'
    %div{class: 'govuk-grid-row govuk-!-padding-bottom-9 govuk-!-margin-bottom-5'}
      %aside{class: 'govuk-grid-column-two-thirds'}
        = render partial: 'layouts/registers-in-numbers', locals: { presentation: 'super', border: true, heading: 's'}
      %nav{class: 'govuk-grid-column-one-third'}
        = render partial: 'layouts/secondary-navigation'

= content_for :javascript do
  :javascript
    var heroButton = document.querySelector('.hero-button');
    heroButton.onclick = function() {
      ga('send', 'pageview', '/get-started');
    }
