= content_for :body_classes, 'home-page'

%main{role:'main'}
  .masthead
    %nav.breadcrumbs.breadcrumbs--inverse{"aria-label" => "Breadcrumb"}
      %ol
        %li.breadcrumbs__item
          = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
        %li.breadcrumbs__item.breadcrumbs__item--active
          = link_to 'GOV.UK Registers', '#content', "aria-current" => "page"

    .hero.hero--breaded
      .hero__content
        .hero__body
          %h1.hero__title Direct access to up-to-date government data
          .hero__inline-image
            = image_tag "registers-top-image.png", role: "presentation"
          %p.hero__description
            GOV.UK Registers provides a secure API that is easy to integrate with so you can get the most up-to-date data from across government.

          = link_to 'Get started', registers_path, class: 'button hero-button', role: 'button'
        .hero__aside-image
          = image_tag "registers-top-image.png", role: "presentation"

  .container#content
    %section.content-section
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title Use and share government data
          %p GOV.UK Registers helps you to:
          %ul.list.list-bullet
            %li build and maintain your service with accurate data that is updated for you
            %li reduce the time and cost of sourcing data from across government
            %li easily share data with other government departments
        .column-one-half
          = image_tag 'get-data.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        .column-one-half
          %h2.heading-medium.content-section__title How registers work
          %p Registers are live lists of information that are managed and approved by government. They are the most reliable lists of their kind.
          %p Each register:
          %ul.list.list-bullet
            %li can be accessed and used freely by anyone
            %li provides data in different formats including JSON and CSV
            %li has a full version history to ensure transparency of data changes
        .column-one-half
          = image_tag 'country-register.png'

    %section.content-section.content-section--with-top-border
      .grid-row
        %h2.heading-medium.content-section__title.column-full Registers in numbers
        .column-one-third
          .data
            = link_to registers_path do
              %span.data-item.bold-xxlarge= @ready_registers.count
              %span.data-item.bold-small registers available
        .column-one-third
          .data
            = link_to registers_path do
              %span.data-item.bold-xxlarge= @organisation_count
              %span.data-item.bold-small government organisations providing&nbsp;registers
        .column-one-third
          .data
            = link_to services_using_registers_path do
              %span.data-item.bold-xxlarge 13
              %span.data-item.bold-small services using registers

= content_for :javascript do
  :javascript
    var heroButton = document.querySelector('.hero-button');
    heroButton.onclick = function() {
      ga('send', 'pageview', '/get-started');
    }
