- @page_title = "#{@register.name} | Admin"

%nav.breadcrumbs{"aria-label" => "Breadcrumb"}
  %ol
    %li.breadcrumbs__item
      = link_to 'Registers', admin_registers_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to "#{@register.name} register", '#content', "aria-current" => "page"

%main#content.container{role:'main'}
  .grid-row
    .column-full
      = render partial: "layouts/errors", locals: { object: @register } if @register.errors.any?
      %h1.heading-xlarge Edit register
      = render 'form'
