- @page_title = 'Registers | Admin'

%main#content.container{role:'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large Registers
    .column-one-third
      = link_to 'New register', new_admin_register_path, class: 'button'

  .grid-row
    .column-full
      - if @featured_registers.any?
        %h3.heading-medium Featured registers
        %ul{"data-sort-list" => true ,"data-url" => "#{sort_admin_registers_path}", class: 'sortable'}
          = render partial: 'register', collection: @featured_registers

      - if @registers.any?
        %hr
        %ul.sortable
          = render partial: 'register', collection: @registers

= content_for :javascript do
  :javascript
    $("[data-sort-list]").sortable({
      placeholder: "sortable-placeholder",
      update: function(e, ui) {
        $.ajax({
          url: $(this).data("url"),
          type: "PATCH",
          data: $(this).sortable('serialize'),
        });
      }
    });
