!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    = csrf_meta_tags

    %title CMS - Registers

    = favicon_link_tag "favicon.ico", type: "image/x-icon"

    / Stylesheet
    = stylesheet_link_tag 'spina/admin/application', data: {turbolinks_track: true}

    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js', data: {turbolinks_track: true}

    / JavaScript
    = javascript_include_tag 'spina/admin/application', data: {turbolinks_track: true}
    = javascript_include_tag :cocoon
    = yield(:plugin_stylesheets)

    = yield(:head)

  %body
    = render 'spina/admin/shared/primary_navigation'

    %section#main
      = yield(:permanent_notice)

      = render 'spina/admin/shared/notifications'

      = content_for?(:application) ? yield(:application) : yield
