= form_for [:admin, @user], html: { autocomplete: "off" } do |f|
  = f.text_field :name
  = f.text_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  .form-group
    .multiple-choice
      = f.check_box :admin
      = f.label :admin
  .form-group
    = f.submit 'Save', class: 'button'

  - unless @user.new_record?
    .pull-right= link_to 'Delete user', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }
