- @page_title = @page.seo_title
- @page_description = @page.description
= content_for :body_classes, 'home-page'

.masthead
  %nav{class: "breadcrumbs breadcrumbs--inverse", "aria-label" => "Breadcrumbs"}
    %ol{itemscope: "", itemtype: "http://schema.org/BreadcrumbList"}
      %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
        = link_to "https://www.gov.uk/service-toolkit#components", itemprop: "item" do
          %span{itemprop: "name"} Components
      %li{class: "breadcrumbs__item breadcrumbs__item--active", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
        %a{href: "#main", itemprop: "item"}
          %span{itemprop: "name"} GOV.UK Registers

  .hero.hero--breaded
    .hero__content
      .hero__body
        %h1.hero__title Build services using accurate and up-to-date data
        .hero__inline-image
          = image_tag "registers-top-image.png", role: "presentation"
        %p.hero__description
          Use registers to build your service and get access to current and reliable data.
      .hero__aside-image
        = image_tag "registers-top-image.png", role: "presentation"

.container
  .grid-row
    .column-two-thirds
      %section.content-section
        .govspeak
          = govspeak(@page.content(:text))

      %section.content-section.content-section--with-top-border
        .govspeak
          %h2.content-section__title Who's using GOV.UK Registers

        .data
          = link_to '/using-registers/services-using-registers' do
            %span.data-item.bold-xxlarge 10
            %span.data-item.bold-xsmall Government services

        %p.lead Here are some examples:

        %h4
          E-petitions
          %span.text-separator &verbar;
          Parliamentary Digital Service:
        %p #{link_to 'Country', 'https://country.register.gov.uk/'} register
        %h4
          GOV.UK Pay
          %span.text-separator &verbar;
          Cabinet Office:
        %p #{link_to 'Country', 'https://country.register.gov.uk/'} and #{link_to 'Territory', 'https://territory.register.gov.uk/'} register
        %h4
          Realtime Flood Monitoring
          %span.text-separator &verbar;
          Environment Agency:
        %p #{link_to 'Local Authority England', 'https://local-authority-eng.register.gov.uk'} register

      %section.content-section.content-section--with-top-border
        .govspeak
          %h2.content-section__title Getting started

          %p Registers can also help you if you collect, manage or store data for your organisation. We’ve made it really simple to find out how custodians and the GOV.UK Registers team work together to #{link_to 'create a register', 'https://www.gov.uk/guidance/creating-a-register', target: :blank}.

          %p Each register has an open API you can use to access the data without any authentication. There’s more information about using the register APIs in the #{link_to 'technical documentation', "https://registers-docs.cloudapps.digital/"}

      %section.content-section.content-section--with-top-border
        .govspeak
          %h2.content-section__title Contact the team
          %p
            = mail_to "registers@digital.cabinet-office.gov.uk", "Contact the team"
            /-
            if you have any questions about GOV.UK Registers.
          %p
            GOV.UK Registers is built and supported by a full time team at the Government Digital Service.

    .column-one-third
      %aside.related-items
        %h2.related-items__title Registers ready to use
        %ul.related-items__list
          - beta_registers.reject{ |r| %w{register datatype field}.include?(r[:item]['register'])}.each do |register|
            %li= link_to register[:item]['register'], "https://#{register[:item]['register'].parameterize}.register.gov.uk", target: :blank
        %h2.related-items__title Upcoming registers
        %ul.related-items__list
          %li
            = link_to "View all registers in progress", spina.registers_path(phase: 'in progress')
        %h2.related-items__title Suggest a register
        %ul.related-items__list
          %li
            = link_to "Find out more", spina.new_register_path
