- @page_title = @page.seo_title
- @page_description = @page.description
- @body_class = "#{@page.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '')}-page"

%nav{class: "breadcrumbs", "aria-label" => "Breadcrumbs"}
  %ol{itemscope: "", itemtype: "http://schema.org/BreadcrumbList"}
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to "https://www.gov.uk/service-toolkit#components", itemprop: "item" do
        %span{itemprop: "name"} Components
    %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      = link_to root_path, itemprop: "item" do
        %span{itemprop: "name"} Registers
    - if @page.ancestors.present?
      - @page.ancestors.each do |ancestor|
        %li{class: "breadcrumbs__item", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
          = link_to ancestor.materialized_path, itemprop: "item" do
            %span{itemprop: "name"}= ancestor.menu_title
    %li{class: "breadcrumbs__item breadcrumbs__item--active", itemprop: "itemListElement", itemscope: "", itemtype: "http://schema.org/ListItem"}
      %a{href: "#main", itemprop: "item"}
        %span{itemprop: "name"}= @page.menu_title

%main.container{role:'main'}
  .grid-row
    .column-full
      != @page.content(:text)
