- @page_title = @page.seo_title
- @page_description = @page.description
- @body_class = "#{@page.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '')}-page"

%nav.breadcrumbs{role: "Navigation", "aria-label" => "Breadcrumb"}
  %ol{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Breadcrumb Clicked"}}
    %li.breadcrumbs__item
      = link_to 'Components', 'https://www.gov.uk/service-toolkit#components'
    %li.breadcrumbs__item
      = link_to 'Registers', root_path
    - if @page.ancestors.present?
      - @page.ancestors.each do |ancestor|
        %li.breadcrumbs__item
          = link_to ancestor.menu_title, ancestor.materialized_path
    %li.breadcrumbs__item.breadcrumbs__item--active
      = link_to '#content', @page.menu_title, "aria-current" => "page"

%main#content.container{role:'main'}
  .grid-row
    .column-full
      != @page.content(:text)
