.grid-row
  .column-two-thirds
    %h1.heading-large Check your answer before submiting your suggestion

    %dl.govuk-check-your-answers.cya-questions-long
      %div
        %dt.cya-question
          Why are you interested?
        %dd.cya-answer
          = session[:suggest_register_params]['reason']
        %dd.cya-change
          = link_to suggest_registers_path(step: '0') do
            Change
            %span.visually-hidden Why are you interested?
      %div
        %dt.cya-question
          Title
        %dd.cya-answer
          = session[:suggest_register_params]['title']
        %dd.cya-change
          = link_to suggest_registers_path(step: '1') do
            Change
            %span.visually-hidden Title
      %div
        %dt.cya-question
          Email address
        %dd.cya-answer
          = params[:suggest_register]['email']
        %dd.cya-change
          = link_to suggest_registers_path(step: '2') do
            Change
            %span.visually-hidden Email address

    %h2.heading-small Now send your suggestion
    %p By submitting this suggestion you are confirming that you understand that the Registers team may not accept this suggestion if it is deemed inappropriate for a register.
