.grid-row
  .column-two-thirds
    %h1.heading-large Check your details before sending your suggestion

    %dl.govuk-check-your-answers.cya-questions-long
      %div
        %dt.cya-question
          Why are you interested?
        %dd.cya-answer
          = session[:suggest_register_params]['subject']
        %dd.cya-change
          = link_to suggest_registers_path(step: 0, change: 'true') do
            Change
            %span.visually-hidden Why are you interested?
      %div
        %dt.cya-question
          Title
        %dd.cya-answer
          = session[:suggest_register_params]['message']
        %dd.cya-change
          = link_to suggest_registers_path(step: 1, change: 'true') do
            Change
            %span.visually-hidden Title
      %div
        %dt.cya-question
          Email address
        %dd.cya-answer
          = params[:suggest_register]['email']
        %dd.cya-change
          = link_to suggest_registers_path(step: 2, change: 'true') do
            Change
            %span.visually-hidden Email address

    %p By sending this suggestion you are confirming that you understand that the Registers team may not accept your suggestion if it is deemed inappropriate for a register.
