- @page_title = 'Contact'

%main#content.container{role:'main'}
  .grid-row
    .column-full
      %h1.heading-large Contact GOV.UK Registers

      %h3.heading-medium How can we help you?
      = form_tag select_support_path do
        .form-group
          %fieldset
            %legend.visually-hidden How can we help you?
            .multiple-choice
              = radio_button_tag :group, :civil_service
              = label_tag :group_civil_service, t('support.group.gov')
            .multiple-choice
              = radio_button_tag :group, :public, checked: true
              = label_tag :group_public, t('support.group.public')
        .form-group
          = submit_tag 'Continue', class: 'button'

  .grid-row
    .column-two-thirds
      %p The Government Digital Service (GDS) maintains the platform behind registers and helps custodians to manage their registers and keep the data up-to-date. GDS provides operational support from 9am to 5pm, Monday to Friday.
      %p You can #{link_to 'find technical help', 'https://docs.registers.service.gov.uk#support-and-community'} about common issues when using registers, including how to find a specific record or error codes.
