- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

- if @register.errors.any?
  - content_for :notifications do
    .notification.notification-danger.animated.fadeInRight
      = icon('exclamation')
      .notification-message
        =t 'spina.notifications.alert'
        %small= @register.errors.full_messages.join('<br />').html_safe
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

= form_for [:admin, @register], multipart: true, html: { autocomplete: "off" } do |f|
  %header#header
    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        = t('spina.registers.save', scaffold_name: t('spina.registers.scaffold_name'))
      = link_to t('spina.cancel'), spina.admin_registers_path, class: 'button button button-secondary'

  .tab-content.active.well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Page.human_attribute_name :name
        .horizontal-form-content
          = f.text_field :name
      .horizontal-form-group
        .horizontal-form-label
          Description
        .horizontal-form-content
          = f.text_area :description, rows: "2"
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Page.human_attribute_name :register_phase
        .horizontal-form-content
          .select-dropdown
            = f.select :register_phase, Spina::Register::CURRENT_PHASES, include_blank: 'Select current phase'
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Page.human_attribute_name :url
        .horizontal-form-content
          = f.text_field :url
      .horizontal-form-group
        .horizontal-form-label
          Authority
        .horizontal-form-content
          = f.select :authority, @government_organisations.map{|c| c.item.value['name']}, {data: { "default-value" => @register.authority }}
      .horizontal-form-group
        .horizontal-form-label
          = Spina::Page.human_attribute_name :custodian
        .horizontal-form-content
          = f.text_field :custodian
      .horizontal-form-group
        .horizontal-form-label
          Introduction
        .horizontal-form-content
          = f.text_area :history, rows: "6"

  - unless @register.new_record?
    .pull-right= link_to t('spina.permanently_delete'), spina.admin_register_path(@register), method: :delete, data: {confirm: t('spina.pages.delete_confirmation', subject: @register.name) }, class: 'button button-link button-danger'

= content_for :head do
  :javascript
    $(document).on('turbolinks:load', function() {
      element = document.querySelector('#register_authority')
      AccessibleTypeahead.enhanceSelectElement({
        selectElement: element,
        placeholder: "Search for Authority",
        defaultValue: element.options[element.options.selectedIndex].innerHTML,
      })
    });
