%div{class: "steps-form-pane structure-form-pane nested-fields #{('active' if f.options[:child_index] == 0)}", id: "structure_form_pane_#{f.object.id}"}
  = f.hidden_field :position, class: "structure_form_pane_#{f.object.id}_position"
  .form-group
    .form-label
      Title
    .form-content
      = f.text_field :title, placeholder: "Title"
  .form-group
    .form-label Phase
    .form-content
      .select-dropdown
        = f.collection_select :step_phase, Spina::Register::CURRENT_PHASES, :to_s, :to_s, include_blank: 'Select phase'
  .form-group
    .form-label
      Register update
    .form-content
      = f.text_area :content, placeholder: "Update", rows: "6"
  .form-group
    .form-label
      Completed?
    .form-content
      = f.check_box :completed, data: { switch: true }

  = link_to_remove_association t('spina.delete'), f, class: "button button-mini button-link pull-right"
