- if flash[:success].present?
  .alert--success= flash[:success]
- if flash[:alert].present?
  = GovukElementsErrorsHelper.error_summary @feedback, 'There is a problem with the form', ''


= form_for @feedback, url: register_feedback_index_path(@register.slug, anchor: 'feedback_section')  do |f|
  = f.invisible_captcha :spam
  = f.hidden_field :subject, value: "[Question or Feedback] #{@register.name} register"
  = f.radio_button_fieldset :useful do |fieldset|
    - fieldset.radio_input :yes
    - fieldset.radio_input :no, panel_id: 'reason_panel'
  - f.revealing_panel :reason_panel do |panel|
    = f.radio_button_fieldset :reason, inline: false, choices: [:cant_understand, :doesnt_meet_needs, :problem_with_data, :other]
  = f.text_area :message, rows: 5
  = f.email_field :email
  = f.submit "Submit", class: "button"

= content_for :javascript do
  :javascript
    var showHideContent = new GOVUK.ShowHideContent();
    showHideContent.init();

    document.getElementById('new_feedback')
      .addEventListener('submit', function(event) {
        event.preventDefault();
        var form = event.target;

        var checkedRadios = form.querySelectorAll('input[type="radio"]:checked');

        for (var i = 0; i < checkedRadios.length; i += 1) {
          var action = 'Radio - ' + checkedRadios[i].parentElement.querySelector('label').innerText;
          var label = checkedRadios[i].parentElement.parentElement.querySelector('legend').innerText;
          ga('send',  {
            hitType: 'event',
            eventCategory: 'Feedback',
            eventAction: action,
            eventLabel: label,
            nonInteraction: true
          });
        }

        // Lets us know whether or not the Additional comments part of the
        // feedback form is being used.
        var additonalComments = form.querySelector('#feedback_message');
        var checkedUsefulInput = form.querySelector('input[name="feedback[useful]"]:checked');
        var eventAction = '';

        if (checkedUsefulInput.value === 'yes') {
          eventAction = 'Text - useful';
        }
        else if (checkedUsefulInput.value === 'no') {
          eventAction = 'Text - not useful';
        }

        if (additonalComments.value.length >= 1) {
          ga('send',  {
            hitType: 'event',
            eventCategory: 'Feedback',
            eventAction: eventAction,
            eventLabel: 'Is this register useful?',
            nonInteraction: true
          });
        }
        form.submit();
    })
