- list_class = defined?(presentation).nil? ? '' : " registers-in-numbers--#{presentation}"
- heading_class = defined?(presentation).nil? ? '' : " registers-in-numbers-heading--#{presentation}"

%h2{ class: "registers-in-numbers-heading#{heading_class} govuk-!-padding-top-4"} GOV.UK Registers in numbers
%ul{class: "registers-in-numbers#{list_class}" }
  %li{class: 'registers-in-numbers__item'}
    %span{role: 'presentation', class: 'registers-in-numbers__number'} 800k
    %a{role: 'presentation', class: 'registers-in-numbers__caption', href: 'https://www.gov.uk/performance/govuk-registers'}total API requests
  %li{class: 'registers-in-numbers__item'}
    -# = link_to registers_path do
    %span{role: 'presentation', class: 'registers-in-numbers__number'}= Register.available_count
    %span{role: 'presentation', class: 'registers-in-numbers__caption'} government registers available
  %li{class: 'registers-in-numbers__item'}
    -# = link_to registers_path do
    %span{role: 'presentation', class: 'registers-in-numbers__number'}= Register.organisation_count
    %span{role: 'presentation', class: 'registers-in-numbers__caption'} government organisations managing&nbsp;registers
  %li{class: 'registers-in-numbers__item'}
    -# = link_to services_using_registers_path do
    %span{role: 'presentation', class: 'registers-in-numbers__number'} 8
    %span{role: 'presentation', class: 'registers-in-numbers__caption'} government services using&nbsp;registers
