- @omit_header = true

- content_for :page_title, "#{@page_title} - GOV.UK Registers"

- content_for :after_header do
  %header{class: "header #{current_page?(root_path) ? 'header--without-border' : ''}"}
    .header__container
      .header__brand{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Logo Clicked"}}
        = link_to root_path do
          %span.govuk-logo
            = image_tag 'gov_uk_logotype_crown_invert_trans.png', height: 32, width: 36, class: 'govuk-logo__printable-crown'
            /-
            GOV.UK
          /-
          %span.header__title
            Registers
            %span.phase-banner Alpha

      = check_box_tag 'show-menu', nil, false, class: 'header__navigation-toggle-checkbox', "aria-controls" => "navigation", "aria-expanded" => "false"
      = label_tag 'show-menu', 'Menu', class: 'header__navigation-toggle'
      %nav{id: "navigation", class: "header__navigation", role: "Navigation", "aria-label" => "Top Level Navigation", "aria-hidden" => "true"}
        %ul{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Navigation Link Clicked"}}
          - if current_user.present?
            %li{class: "#{'active' if current_page?(admin_registers_path)}"}
              = link_to 'Registers', admin_registers_path
            - if current_user.admin?
              %li{class: "#{'active' if current_page?(admin_users_path)}"}
                = link_to "Users", admin_users_path
            %li
              = link_to "Sign out", admin_signout_path
          - else
            %li{class: "#{'active' if current_page?(admin_signin_path)}"}
              = link_to "Sign in", admin_signin_path

- content_for :head do
  = stylesheet_link_tag 'application'
  = csrf_meta_tags

- content_for :body_classes, 'admin'

- content_for :body_end do
  = javascript_include_tag 'application'
  = yield(:javascript)

= render file: 'layouts/govuk_template'
