- @omit_header = true

- content_for :page_title, "#{@page_title.present? ? "#{@page_title} - GOV.UK Registers" : 'GOV.UK Registers' }"

- content_for :after_header do
  -# TODO: Bring back border when notice is removed
  -# %header{class: "header #{current_page?(root_path) ? 'header--without-border' : 'header'}"}
  %header{class: 'header header--without-border'}
    .header__container
      .header__brand
        = link_to root_path do
          %span.govuk-logo
            = image_tag 'gov_uk_logotype_crown_invert_trans.png', height: 32, width: 36, class: 'govuk-logo__printable-crown'
            /-
            GOV.UK
          /-
          %span.header__title
            Registers
            %span.phase-banner Alpha

      = check_box_tag 'show-menu', nil, false, class: 'header__navigation-toggle-checkbox', "aria-controls" => "navigation", "aria-expanded" => "false"
      = label_tag 'show-menu', 'Menu', class: 'header__navigation-toggle'
      %nav{id: "navigation", class: "header__navigation", role: "Navigation", "aria-label" => "Top Level Navigation", "aria-hidden" => "true"}
        %ul
          %li{class: "#{'active' if current_page?(registers_path)}"}
            = link_to "Register collection", registers_path
          %li{class: "#{'active' if current_page?(support_path)}"}
            = link_to "Support", support_path
          %li
            = link_to "Documentation", "https://docs.registers.service.gov.uk"

- content_for :head do
  = canonical_tag
  = stylesheet_link_tag 'application'
  = csrf_meta_tags
  %meta{ name: 'description', content: "#{@page_description.present? ? @page_description : 'Registers are lists of information that are managed and approved by government. GOV.UK Registers helps government design and build services on a consistent and high quality data infrastructure via our secure API.'}" }
  = render partial: 'layouts/analytics'

- content_for :after_header do
  %aside.notice
    .container
      %h2.visually-hidden Upcoming data format changes
      %p{data: {"click-events" => "", "click-category" => "Content", "click-action" => "Notice link clicked"}} GOV.UK Registers will stop supporting data formats other than JSON and CSV from 1 December 2018. #{link_to "Read more about format changes", data_format_changes_path}

- content_for :body_end do
  = javascript_include_tag 'application'
  = yield(:javascript)

- content_for :footer_top do
  .footer-categories
    .footer-categories-wrapper
      .grid-row
        .column-one-quarter
          %ul
            %li
              = link_to "Get data", registers_path
            %li
              = link_to "Services using registers", services_using_registers_path
            %li
              = link_to "Support", support_path
            %li
              = link_to "Documentation", "https://docs.registers.service.gov.uk"

- content_for :footer_support_links do
  %nav.footer-nav
    %ul
      %li Built by the #{link_to 'Government Digital Service', 'https://www.gov.uk/government/organisations/government-digital-service', target: :blank, rel: "noopener noreferrer"}
      %li= link_to 'Privacy notice', privacy_notice_path
      %li= link_to 'Cookies', cookies_path

= render file: 'layouts/govuk_template'
