- @omit_header = true

- content_for :page_title, "#{@page_title} - GOV.UK Registers"

- content_for :after_header do
  %header{class: "header #{current_page?(root_path) ? 'header--without-border' : ''}"}
    .header__container
      .header__brand{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Logo Clicked"}}
        = link_to root_path do
          %span.govuk-logo
            = image_tag 'gov_uk_logotype_crown_invert_trans.png', height: 32, width: 36, class: 'govuk-logo__printable-crown'
            /-
            GOV.UK
          /-
          %span.header__title
            Registers
            %span.phase-banner Alpha

      = check_box_tag 'show-menu', nil, false, class: 'header__navigation-toggle-checkbox', "aria-controls" => "navigation", "aria-expanded" => "false"
      = label_tag 'show-menu', 'Menu', class: 'header__navigation-toggle'
      %nav{id: "navigation", class: "header__navigation", role: "Navigation", "aria-label" => "Top Level Navigation", "aria-hidden" => "true"}
        %ul{data: {"click-events" => "", "click-category" => "Header", "click-action" => "Navigation Link Clicked"}}
          %li{class: "#{'active' if current_page?(using_registers_path)}"}
            = link_to "Using registers", using_registers_path
          %li{class: "#{'active' if current_page?(registers_path)}"}
            = link_to "Registers collection", registers_path
          %li{class: "#{'active' if current_page?(support_path)}"}
            = link_to "Support", support_path
          %li
            = link_to "Documentation", "https://registers-docs.cloudapps.digital/", target: :blank, rel: "noopener noreferrer"

- content_for :head do
  = stylesheet_link_tag 'application'
  = csrf_meta_tags
  = render partial: 'layouts/analytics' if Rails.env.production?

- content_for :body_end do
  = javascript_include_tag 'application'
  = yield(:javascript)

- content_for :footer_top do
  .footer-categories
    .footer-categories-wrapper
      .grid-row
        .column-one-quarter
          %ul
            %li
              = link_to "Support", support_path
            %li
              = link_to "System status", "http://stats.pingdom.com/j7upyz204dud", target: :blank, rel: "noopener noreferrer"
            %li
              = link_to "Performance", "https://www.gov.uk/performance/govuk-registers", target: :blank, rel: "noopener noreferrer"
            %li
              = link_to "Slack channel", "https://ukgovernmentdigital.slack.com/messages/govuk-registers", target: :blank, rel: "noopener noreferrer"

- content_for :footer_support_links do
  %nav.footer-nav
    Built by the #{link_to 'Government Digital Service', 'https://www.gov.uk/government/organisations/government-digital-service', target: :blank, rel: "noopener noreferrer"}

= render file: 'layouts/govuk_template'
